[2012-10-26 09:12] hnrch02 opened #1 "Padding on icons"
I think it would look much better if you added some padding-left (10px) to the cell containing the icon.

That would look something like this:

![comparison](http://f.cl.ly/items/130L1p2o010z1h3J272m/apaxy.png)

Cheers,
Henry

[2012-10-26 10:14] #1 closed, assigned to nobody

[2013-05-22 00:36] Aethylred opened #7 "Icons for Debian packages, RPM packages, and MD5 hash files?"
Could Apaxy please include icons for .deb and .rpm packages.

Icons for MD5 hash files and GPG keys would also be good.

[2013-05-22 16:22] #7 closed, assigned to nobody

[2013-06-05 21:56] sistematico opened #8 "Charset"
How to set default charset?
File names with ã is showing Ã§Ã

Thanks.

[2013-06-06 08:36] #8 closed, assigned to nobody

[2013-07-27 17:09] opatry opened #9 "Why commiting htaccess.txt and not direct .htaccess"
Everything is in the issue title!

Maybe there are some constraints I can't see, but the .htaccess file may be directly stored as .htaccess in the repository.

[2013-07-27 17:10] opatry opened #10 "Theme chooser/installer"
Hi,

are you interested in a theme chooser/installer.
Currently, the process of installation a little bit manual, I suggest a shell script with user prompt (with some well default values according to the current working directory) to define the htaccess file (and move the .txt to .htaccess (see #9)).

If there are several subfolders in a so called "themes" directory, ask for user to choose the one

[2013-08-21 10:32] alegrm opened #12 "Different header and footer for two directories"
If I have the following directory structure

[code]

and my .htaccess with the configuration is under share, but I am also able to see software, which I want to share too but with a different HTML header and footer in each directory, how can I do that? is it possible?
Thanks

---

I found out that putting other theme and a .htaccess that overrides the parent worked.

[2013-08-21 11:01] #12 closed, assigned to nobody

[2013-09-25 02:30] kiwiz opened #13 "Use protocol agnostic path for font import."
I'm serving this over https and I get a mixed content error due to the following import statement:

[code]

Changing this to

[code]

should work for both HTTPS and HTTP as the google servers serve up the correct css.
:cat:

[2013-11-03 11:52] Madwolf opened #16 "Entry for .exe files is missing"
In htaccess file is no entry for exe files, but the png is still there in icons folder.

AddIcon /{FOLDERNAME}/theme/icons/exe.png .exe

[2014-01-12 05:03] jaydrogers opened #18 "Running in TLD (without subfolder)"
Is it possible to run Apaxy directly in a TLD? For Example: http://www.mydomain.com instead of http://www.mydomain.com/subfolder?

I tried to run it without a subfolder, but I am not getting any luck. Here is an example of what I did in the **.htaccess**:

[code]

[2014-01-12 20:03] #18 closed, assigned to nobody

[2014-03-13 12:38] Sir-SpankalotUK opened #20 "Add +IconsAreLinks to IndexOptions in .htaccess (htaccess.txt)"
This will help clicking files on mobile devices (phones & tablets).

Otherwise awesome work!

[2014-06-23 04:35] Oxicode opened #24 "add composer.json"

[2014-06-23 10:13] #9 closed, assigned to nobody

[2014-06-23 10:16] #13 closed, assigned to nobody

[2014-06-23 10:18] #20 closed, assigned to nobody

[2014-06-23 10:18] #16 closed, assigned to nobody

[2014-08-04 08:37] snorpey opened #27 "add actual demo"
It would be nice if we could link to an actual demo of Apaxy instead of showing a screen shot. I think this would make it easier evaluate Apaxy and see how it looks and works on small screen devices.

If an actual demo is not feasible, maybe a we could link to an HTML + CSS dummy?

[2014-08-29 10:36] dandaka opened #29 "Remove padding from mobile client"
Sorry, I can't do pull requests yet. But here's quick workaround to remove padding from mobile screens.

[code]

[2014-09-26 19:28] UksusoFF opened #31 "Missed Type Description"
AddIconByType (TXT,/theme/icons/text.png) text/*
	AddIconByType (IMG,/theme/icons/image.png) image/*
	AddIconByType (SND,/theme/icons/audio.png) audio/*
	AddIconByType (VID,/theme/icons/video.png) video/*

[2014-11-11 21:52] nicolasdanelon opened #33 "Images could be optimized to be more light"
Using [trimage](http://trimage.org/) program you can lower the weights of images

![screenshot from 2014-11-11 18 45 46](https://cloud.githubusercontent.com/assets/2846046/5001317/729b9ebc-69d3-11e4-8604-c22bbbb1a733.png)
![screenshot from 2014-11-11 18 45 58](https://cloud.githubusercontent.com/assets/2846046/5001319/729c6a72-69d3-11e4-9866-35cbc4c18279.png)
![screenshot from 2014-11-11 18 45 55]

[2014-12-01 10:18] szepeviktor opened #35 "normalizing browsers"
Please consider adding
[//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css](//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css)

[2015-02-08 17:12] augustinpft opened #39 "Style don't work / [ICO] or [DIR]"
Hello, when i'm using apaxy on windows 8 through vagrant  and i have a little problem: apaxy won't work
![image](https://cloud.githubusercontent.com/assets/4787691/6097433/e2274e5e-afbd-11e4-86f8-cec3b62fbc2b.png)

here is the pastbin of the main htaccess: http://pastebin.com/29PZ7da9

thank you

[2015-03-25 17:45] GGJesus commented on #39
I did exactly as the tutorial on the website said as well, but it was sensationally vague: "Download and unzip Apaxy" with no link to any sort of download, so I grabbed the GitHub ZIP and it had all the nice little things but most importantly of all it was missing an actual index file to show up and replace this default directory listing which was and is infuriating.

[2015-03-25 17:55] GGJesus commented on #39
Ok, I believe that you must first put in http://larsjung.de/h5ai/ and then use Apaxy in the _h5ai/client/theme folder, but the installation tutorial on the website is incredibly vague as well, mentioning files that don't even exist in the download folder :(. There really should exist a video tutorial for this because it's mind boggling how bad these (link above and apaxy) tutorials are.

[2015-05-27 09:02] AdamWhitcroft commented on #39
Sorry to hear you're struggling to get this going. Have you managed to sort it out yet?

[2015-05-27 09:18] n3storm commented on #39
Hi GGJesus,
Installing Apaxy on your virtualhost or whole server depends on so many variables with a count as big as Apache Virtualhosts variables.
You should learn the basics of the Apache Directory and Location directives at Apache documentation. http://httpd.apache.org/docs/2.4/sections.html

For example, my setup is completely different from docs because I wanted to use the same Apaxy director

[2015-05-27 09:29] AdamWhitcroft commented on #31
Merged, so closing.

Thanks!

[2015-05-27 09:29] #31 closed

[2015-05-27 09:30] AdamWhitcroft commented on #24
Closing, as this doesn't seem like it's really needed.

[2015-05-27 09:30] #24 closed

[2015-05-27 09:31] AdamWhitcroft commented on #27
I used to have a demo, but I then moved over to GitHub to host my website.

I can work on an HTML + CSS dummy if you'd like, but links to people already using would be much easier cc @PeterDaveHello

[2015-05-27 09:36] UksusoFF commented on #27
Demo: http://iamdrunk.ru/teach/
But available only russian day time

[2015-05-27 10:39] PeterDaveHello commented on #27
hmmmm ... I just moved to nginx due to performance issue, should try to have a nginx version I think.

[2015-05-28 11:07] n3storm commented on #39
@augustinpft  what does the apache log or firefox debugger network resources tab report?

[2015-06-23 14:30] grondinseane opened #40 "Question/Request for Download Count"
I don't know if this is even possible, as this is all new to me. Can the displayed page have a download counter displayed per file? I know I can look up stats through other means, but I would like something displayed for the people visiting and downloading the files.

Thank you for such an amazing little gem. Apaxy is a great tool.

I apologize is this is not where this question belongs.

[2015-06-30 23:39] warshanks commented on #39
I'm having the same issue. I'm using Xampp if that matters.

[2015-07-02 11:52] AdamWhitcroft commented on #40
You're most welcome!

To be honest, I'm not sure. I can look into it for you, but I have a feeling this might not be possible.

[2015-07-02 13:25] grondinseane commented on #40
Okay thank you. No worries if it's not possible :-)

[2015-08-07 15:39] szepeviktor opened #41 "Apaxy theme for static RunAbove file listings"
RunAbove (by OVH) provides Openstack object storage and static web hosting, file listings.

repo: https://github.com/szepeviktor/Apaxy4RunAbove
demo: http://mirror.szepe.net/

[2015-09-07 17:52] dexX7 commented on #39
Assuming `C:\Dev\theme\icons\blank.png` maps to `http://localhost/theme/icons/blank.png` (or similar), then you may try:
[code]

Check out the source of the resulting listing, there is probably something like:
[code]
... whereby the URI isn't valid (i.e. the image can't be reached via `C:\Dev\theme\icons\folder.png`).

[2015-09-10 18:18] brianpeiris opened #42 "Minor: Add a download link to website"
The installation instructions at http://adamwhitcroft.com/apaxy/ don't actually link to a download.

[2015-09-16 09:48] lifeisfoo opened #43 "Uncaught TypeError: Cannot set property 'className' of undefined"
Using the last version from git with a directory of only files.

[2015-09-16 09:52] lifeisfoo opened #44 "Apk and ipa icons"
Could you add the android and ios app package icons?

Thank you

[2015-11-15 19:45] viranch opened #47 "Header & footer don't work with basic auth + mod_headers"
I came across a weird issue that causes the server to stop listing files altogether, here's my setup:

* Server at `http://localhost`

* Directory root at `/var/www/html`, apaxy setup under that directory (`/var/www/html/theme` for reference)
[code]

* `http://localhost/resources` <-- directory to list

* `http://localhost/backend` <-- reverse proxy to my backend app
[code]

* I want everything un

[2016-01-15 22:49] AGoberg opened #50 "Keep description cell"
I'd like to keep the Description cell in the table. How can I style it? Specifically the width of it?

[2016-01-17 21:57] angristan opened #51 "Nginx compatibility"
Any plan on Nginx compatibility ? :)

[2016-01-24 01:56] rjenkinsjr commented on #39
@augustinpft I got the same behavior as you, but I managed to fix it. My mistake was replacing `{FOLDERNAME}` with the absolute filesystem path to the theme files. Seems like it's supposed to be replaced with the *relative* path starting from your `DocumentRoot` to the `theme` directory. In my case, I was applying Apaxy to my entire `DocumentRoot`, so I replaced `{FOLDERNAME}` with nothing and it

[2016-01-24 10:55] matunixe commented on #51
Hey, That would be very nice !

[2016-01-28 09:35] hartsook opened #52 ".zip is missing from the Archive files list in htaccess.txt"
You have the icon included, but left out .zip with the other archive file types in the htaccess.txt file.

[2016-02-16 17:24] sgiannulli opened #54 "apache 2.4.10"
Hi all,
anyone succesfully using apaxy with apache 2.4?
I'm trying it but css is not loaded and standard apache index is proposed
Thanks

[2016-02-16 19:11] sgiannulli commented on #54
my fault sorry; I forgot
`<Directory "/var/www/html/share">
  AllowOverride All
</Directory>
`
in `000-default.conf`

[2016-02-16 19:11] #54 closed

[2016-03-03 01:39] blegoh opened #56 "ASK"
Can i use this for lighttpd ?

[2016-03-04 12:43] maxvodo commented on #51
:+1:

[2016-04-12 14:53] nodiscc opened #59 "Use local copy of the Open Sans font"
Hi, I've noticed Apaxy requests the Open Sans font from `fonts.googleapis.com` + `fonts.gstatic.com` (https://github.com/AdamWhitcroft/Apaxy/blob/master/apaxy/theme/style.css#L8). Would you be OK to include this font in the release archive, and use that copy by default instead?

Some advantages: No cross-site requests, no leaking of HTTP Referers to font provider, works on LAN-only setups, no depe

[2016-04-25 12:10] VarunAgw opened #61 "Instruction to replace global Apache DirectoryListing by Apaxy"
I ended up wasting quite some time because of lack of instructions. It will be nicer if they are

[2016-04-25 15:09] nodiscc commented on #61
What?

@VarunAgw you can submit a patch to https://github.com/AdamWhitcroft/Apaxy/blob/master/README.md if you think it's missing something.

[2016-04-26 09:24] #61 closed

[2016-04-29 19:42] noerw opened #62 "style subdirectories"
The style is applied in the main directory, but not in subdirectories, as the paths are relative:

If I'm listing `/share/**`, and the apaxy theme folder is in `/share/theme`, and there's a subdir `/share/asdf`, styles are looked up under `/share/asdf/theme/**`..

Is there a way to fix this? or do I have to write a RewriteRule for `*/theme/*`?

[2016-05-11 19:05] woodrowbarlow commented on #62
i was able to fix this by editing the `/share/.htaccess` file to replace all instances of `theme` with `/share/theme`.

[2016-05-11 19:14] woodrowbarlow commented on #56
i don't think lighttpd support htacess files, but you can probably use the css without much modification. you can apply the css using the `dir-listing.external-css` option in your lighttpd config. see here: http://redmine.lighttpd.net/projects/lighttpd/wiki/Docs_ModDirlisting#dir-listingexternal-css

[2016-05-18 01:08] Giggitybyte commented on #40
I came here to ask this exact question. A download counter would be really nice!

[2016-06-09 23:02] adityai opened #65 "Folders created at the root directory of the example folder do not show the theme"
I created folders in the root directory where the example files are placed. When I open the folder from the browser, it does not show the theme. It shows missing images on the page. When I copied the theme folder into this new folder, the theme displayed properly.

Is there a straightforward way of solving for this without having to copy the theme folder inside every folder and without symlinks in

[2016-06-09 23:10] vertigo3d opened #66 "Cannot get Apaxy to work"
Hello,

I have a very basic setup.  I have Apache installed on Ubuntu and my path is /var/www/html/test.  There are a few files in the 'test' folder.  I followed the directions to copy the contents from apaxy to the 'test' folder and renamed htaccess.txt to .htaccess in both the test/ folder and theme/folder.  However, when I browse to the directory, it shows the default file listing.  Is there so

[2016-06-09 23:28] vertigo3d commented on #66
I was able to get this to work after adding the following lines to /etc/apache2/sites-available/000-default.conf:

**<Directory /var/www/html>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
</Directory>**

Hopefully, it may help someone.  Maybe, someone else can describe why this worked :sm

[2016-07-01 15:45] woodrowbarlow commented on #66
The `AllowOverride Indexes` option means "allow `.htaccess` files to override global apache configuration". Most Apache installs require this before you can use `.htaccess` files.

[2016-07-01 15:46] woodrowbarlow commented on #65
See issue #62.

[2016-07-05 11:48] Inbarasan16 opened #67 "sub directory Not listing"
Hi it's work great but one problem sub directory listing not working existing styles showing how can i fix this ..

[2016-07-08 17:47] tcyrus commented on #52
@hartsook, I believe this is because `.zip` files have their own icon

[2016-07-08 18:44] JacobGunther12 opened #69 "Installed Apaxy, not working"
I use WampServer and I created a folder named "shared" in the same directory that contains the folder that holds my files. Here's a photo:

![](http://i.imgur.com/Zu8KwmX.png)

It still doesn't work and I get this:

![](http://i.imgur.com/XCikBAQ.png)

Can this be fixed? Thanks!

[2016-07-16 11:20] NeoMahler commented on #69
Same problem here. Help please!

[2016-07-16 16:34] nodiscc commented on #69
`AllowOverride All` must be enabled in the apache configuration section for the directory where Apaxy is installed.

[`AllowOverride None`](https://httpd.apache.org/docs/2.4/mod/core.html#allowoverride) is the default value, which prevents Apaxy for from overriding the apache mod_index configuration through `.htaccess` files.

@NeoMahler @JacobGunther12 do you have this setting set to `All` in you

[2016-07-18 19:07] NeoMahler commented on #69
@nodiscc No, I didn't have this setting. Now it works. Thanks!

[2016-07-19 13:30] PeterDaveHello commented on #27
@AdamWhitcroft I now use Apaxy back, see this real example:
http://ftp.yzu.edu.tw/ :smile:

[2016-08-07 15:03] dbaflight commented on #67
Same problem

[2016-08-07 15:09] dbaflight commented on #67
Hello. I have solved this problem. https://github.com/AdamWhitcroft/Apaxy/issues/62

[2016-08-08 15:39] Tom7320 opened #71 "character encoding"
Hi!

Unfortunately character encoding does not work on my site (http://dl.billroth.de/):
![2016-08-08_17h38_03](https://cloud.githubusercontent.com/assets/19165864/17485808/0ad7248e-5d8f-11e6-8c91-24e6fd3aa168.png)
How can I fix that?

THX a lot!

[2016-08-11 09:41] nask0 commented on #71
Add to your .htaccess :
[code]

[2016-08-20 14:26] akacross opened #72 "Can't get Header and Footer to load!"
![screenshot 2016-08-20 10 23 36](https://cloud.githubusercontent.com/assets/20848591/17831772/6e8efa3a-66c0-11e6-827f-ed7af535d80a.png)

i am using Wampserver 3, Apache version is in the screenshot.

[2016-08-22 17:35] programster commented on #62
I had the same issue where only my top folder had the theme showing and fixed it by replacing all instances of `theme/` with `/theme/`. That way the webserver always looked for a theme folder in the top level directory, rather than looking for a theme folder relative to the current directory.

[2016-08-23 00:36] oupala commented on #62
This regression is due to #55 (and particularly commit bb21c1a56c0152f8e7d7ecacad4015c37d4d443a). I hope this change will be reverted as apaxy does no longer work the whole tree anymore.

The (hopefully temporary) workaround is to replace:

`AddIcon theme/icons/archive.png .7z .bz2 .cab .gz .tar`

by

`AddIcon /{FOLDERNAME}/theme/icons/archive.png .7z .bz2 .cab .gz .tar`

As mentionned by @program

[2016-08-23 08:11] HazCod commented on #62
Maybe we should just someones active fork, as he doesn't answer on anything

[2016-08-23 08:17] programster commented on #62
I would give it up to a week. It looks like this is an old thread that has been "revived" by me less than 24 hours ago by adding a comment. It was stale since 11th May.

[2016-08-23 18:59] oupala commented on #62
As there is [no release](AdamWhitcroft/Apaxy/releases) of apaxy and [no alternate branch](/AdamWhitcroft/Apaxy/branches) to refer to, I decided to stick with the last commit (66e30f073d2b1d326b988e754cd0ff6e4c7fb0df) before the bug was introduced.

I need to identify a specific version of apaxy as I'm working on an automated install of apaxy (using ansible).

It would be great to have [releases](A

[2016-08-29 08:09] programster commented on #62
I've forked this repo and fixed the issues in my version:
https://github.com/programster/Apaxy

I also changed the style so that max-width is set to 100% which I believe is much better, especially when you have long filenames.

[2016-08-29 08:28] HazCod commented on #62
Great @programster ! Could you comment on all fixed issues with a link to your fork please? Thanks!

[2016-08-29 08:35] programster commented on #62
@HazCod by all means. I have initialized the issue area on my fork, and will try to address any small issues in the coming days/weeks but it is likely where I will get to a point where I am happy, create a final release, and then mark the repo as no longer maintained in the README.

[2016-10-05 08:03] AdamWhitcroft commented on #71
@Tom7320 did @nask0's suggestion solve the issue for ya?

[2016-10-05 08:03] AdamWhitcroft commented on #69
@JacobGunther12 Can you confirm this is working now for you? I'd like to close this.

[2016-10-05 08:08] AdamWhitcroft commented on #62
@oupala, @HazCod, @programster It's not that I'm not willing gentlemen, it's simply a free-time issue. I'm working through as many of the issues today as I can. Sorry about that.

[2016-10-05 08:20] #67 closed

[2016-10-05 08:21] AdamWhitcroft commented on #62
I've created a `develop` branch where I'll be reverting files that have weird commits in them. If one of you could just check them out to make sure you're happy, and then do a merge request I'll merge into master and then we can work on a release.

[2016-10-05 08:22] #65 closed

[2016-10-05 08:23] AdamWhitcroft commented on #59
@nodiscc sounds good to me. Did you get round to making that Makefile?

[2016-10-05 08:28] AdamWhitcroft commented on #52
@hartsook `AddIcon /theme/icons/zip.png .zip` will apply a zip icon to a zip file. Are there some other formats you'd like me to add in there?

[2016-10-05 08:29] AdamWhitcroft commented on #51
@Angristan no idea, but I'll do what I can to look into it.

[2016-10-05 08:35] AdamWhitcroft commented on #44
@lifeisfoo what icon would you like to use for them? The icon collection I'm using can be found [here](http://tiheum.deviantart.com/art/Faenza-Icons-173323228). Let me know, and I'll slot them in for you.

[2016-10-05 08:36] AdamWhitcroft commented on #43
@lifeisfoo can you grab the latest version and try again? If you're still encountering this problem let me know.

[2016-10-05 08:38] AdamWhitcroft commented on #42
@brianpeiris it points you to the repo which has a comprehensive README file. I did that to keep page length and complexity down.

[2016-10-05 08:38] #42 closed

[2016-10-05 08:40] AdamWhitcroft commented on #40
`mod_autoindex` doesn't support any sort of download count as far as I can see. I'm going to close this for now. If someone finds out how to do it, we'll get it in.

[2016-10-05 08:40] #40 closed

[2016-10-05 08:41] AdamWhitcroft commented on #10
@opatry unfortunately that is far beyond my technical knowledge. I'm going to close this for now, but if you know how to or want to make an installer, please do!

[2016-10-05 08:41] #10 closed

[2016-10-05 08:42] #27 closed

[2016-10-05 08:43] viranch commented on #47
@AdamWhitcroft no worries this is a very specific use case that probably nobody is ever going to hit.

If anybody stumbles here, I worked around this issue by changing `mod_headers` block to:
[code]

Thanks anyway for the awesome theme @AdamWhitcroft !

[2016-10-05 08:43] #47 closed

[2016-10-05 08:44] AdamWhitcroft commented on #35
Done!

[2016-10-05 08:44] #35 closed

[2016-10-05 08:50] #39 closed

[2016-10-05 08:51] AdamWhitcroft commented on #41
@szepeviktor what's the issue here?

[2016-10-05 08:56] AdamWhitcroft commented on #50
@AGoberg Hey. First off, remove `+SuppressDescription` from the `htaccess` file. Then, in `theme/style.css` use sibling selectors to give it a style. You will probably need to tweak the widths of the existing columns (around line 84) to match.

[2016-10-05 08:56] #50 closed

[2016-10-05 08:57] nodiscc commented on #59
Not yet. I will look into that soon.

[2016-10-05 10:10] lifeisfoo commented on #44
Probably the zip archive icon, because .ipa and .apk are both .zip.

See:
- https://en.wikipedia.org/wiki/.ipa
- https://en.wikipedia.org/wiki/Android_application_package

[2016-10-05 11:08] AdamWhitcroft commented on #44
@lifeisfoo what about `package.png` as seen here - https://github.com/AdamWhitcroft/Apaxy/blob/master/apaxy/theme/icons/package.png

[2016-10-05 11:12] lifeisfoo commented on #44
I'm ok with it 👍

[2016-10-05 11:13] AdamWhitcroft commented on #44
Cool, added and sitting in develop branch. Thanks for the suggestion!

[2016-10-05 11:13] #44 closed

[2016-10-05 11:20] szepeviktor commented on #41
This is just a notification of Apaxy usage.

[2016-10-05 11:20] #41 closed

[2016-10-13 22:10] oupala commented on #62
Thanks @AdamWhitcroft for your answer, and for taking this time for apaxy.

I don't think that your `develop` branch is ok for me. Let me explain you why.

1. First, with the [current version of the htaccess.txt](https://github.com/AdamWhitcroft/Apaxy/blob/7ec913f8c7271188c86559c991ec0663915f0aed/apaxy/htaccess.txt) file, the path is hard-linked to root path. It is hard to know what to change in o

[2016-10-19 17:14] gusbemacbe opened #73 "Where to put on macOS, using XAMPP?"
On XAMPP folder, there is a `shared` folder, but there is not `themes` folder.

[2016-10-20 00:08] tylerscochran opened #74 "Litespeed?"
Will/should Apaxy work on a Litespeed server?  Are there additional configuration considerations... since Litespeed servers handle Apache configs the same?

[2016-10-20 15:02] AdamWhitcroft commented on #74
Sorry, but I honestly couldn't answer this for you. I have no experience with Litespeed servers or their configurations.

[2016-10-20 15:15] AdamWhitcroft commented on #73
The `themes` folder is part of Apaxy.

- Download and unzip Apaxy
- Copy the contents of `Apaxy-master/apaxy` to the directory you want to use it in
- Follow the rest of the instructions [here](https://github.com/AdamWhitcroft/Apaxy#installation)

[2016-10-22 20:23] gusbemacbe commented on #73
It didn't work.

1. I moved the folder `apache`from the folder `Apaxy-master`  to `/Applications/XAMPP/xamppfiles/htdocs` and also moved the file `apache-config.conf` to `/Applications/XAMPP/xamppfiles/htdocs`.
2. I modified to `DocumentRoot /Applications/XAMPP/xamppfiles/htdocs` in the file `apache-config.conf`.
3. I also added in the file `httpd.conf` from the path `/Applications/XAMPP/xamppfile

[2016-10-24 18:58] AdamWhitcroft commented on #62
@oupala Thanks for that. If you make a PR on `develop` I'll go ahead and merge those in. I wasn't really happy removing the pathing stuff but it was requested a few times. I'd rather the instructions be clearer than faster.

[2016-10-24 18:59] AdamWhitcroft commented on #71
@Tom7320 Following up again; has the above been resolved for you?

[2016-11-01 11:31] guilhermevini commented on #29
I keep the original style and increment only mobile rules.
[code]

[2016-11-03 06:15] scrolls-mckenzie opened #75 "Re-directing failure"
Hello,

 Great theme but it seems to have broken redirects. When I click on a folder it does not redirect to the internal files. (ie. click on folder expecting to load the internal index.html but i get a white screen)

[2016-11-03 07:16] scrolls-mckenzie commented on #75
My bad...

found the javascript in the footer and commented out.

Cheers

[2016-11-03 22:54] oupala commented on #62
I just created two pull requests:

- #76 that can merge to `master`
- #78 that can merge to `develop`

Take the one you want and discard the other one.

The first one only revert commit bb21c1a, while the second pull request revert commit bb24c1a and commit 8d8c15b. All this is explained in the [following comment](/issues/62#issuecomment-253653586).

[2016-11-10 09:42] AdamWhitcroft commented on #75
@scrolls-mckenzie No worries, glad you got it sorted it out! If you're happy with the solution, I'll go ahead and close this issue out.

[2016-11-10 13:31] AdamWhitcroft commented on #66
@vertigo3d Have you managed to get it working? If so, please let me know so I can close out this issue.

[2016-11-10 13:32] AdamWhitcroft commented on #56
@blegoh are you ok if I close off this issue?

[2016-11-10 13:33] AdamWhitcroft commented on #43
@lifeisfoo any update for me? I'd like to close this off if possible.

[2016-11-10 13:34] AdamWhitcroft commented on #69
@NeoMahler Just a gentle nudge, are you happy with how it's working? I'd like to close this.

[2016-11-10 13:45] vertigo3d commented on #66
Yes, it’s working.

From: Adam Whitcroft [mailto:notifications@github.com]
Sent: Thursday, November 10, 2016 8:32 AM
To: AdamWhitcroft/Apaxy <Apaxy@noreply.github.com>
Cc: vertigo3d <jjagdeo@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [AdamWhitcroft/Apaxy] Cannot get Apaxy to work (#66)

@vertigo3d<https://github.com/vertigo3d> Have you managed to get it working? If so, please le

[2016-11-10 14:51] lifeisfoo commented on #43
Now it seems to be ok.

[2016-11-10 14:51] #43 closed

[2016-11-10 15:14] NeoMahler commented on #69
Yes, it works perfect, you can close this issue.

[2016-11-10 17:02] #69 closed

[2016-11-10 18:39] AdamWhitcroft commented on #66
Good stuff!

[2016-11-10 18:39] #66 closed

[2016-11-11 08:04] blegoh commented on #56
@AdamWhitcroft no problem dude. i don't use lightttpd anymore :)

[2016-11-11 08:04] #56 closed

[2016-11-14 16:13] oupala commented on #62
The pull request has been merged the the `develop` branch has been tested by myself: it works like a charm!

It could be cool now to merge `develop` to `master` and possibly to **add a tag** on a commit to a specific *version* tag, and why not *releasing* a version...

[2016-11-14 19:42] AdamWhitcroft commented on #62
@oupala Good stuff! I'll go ahead and merge develop into master in the next couple of days (just super busy at the moment.)

The reason I renamed it is because I moved my project pages into their own GitHub repo's so my main website repo was less cluttered. Unfortunately, I couldn't keep this repo named Apaxy and use GitHub project pages with the same name as it was causing weird redirects. Append

[2016-11-14 20:33] oupala commented on #62
Great news @AdamWhitcroft I'll stick with the `develop` branch until you merge.

I see what you wanted to do: separate your github pages from you real repo. But the right way to do that is to have a separate `gh-pages` as you have in the [original Apaxy repository](https://github.com/AdamWhitcroft/Apaxy/tree/gh-pages).

But why do you want to do that? You're not using the gh-pages for Apaxy? And y

[2016-11-14 21:38] AdamWhitcroft commented on #62
@oupala I wasn't aware I could do that :/ So you're saying I could have 1 repo called `Apaxy`, and have the main Apaxy package download in the `master` branch, and use the `gh-pages` branch for the static website files for http://adamwhitcroft.com/apaxy?

If so, mind blown.

[2016-11-18 21:49] oupala commented on #62
Explanations are here : https://pages.github.com/

Tell us if you change apaxy name back to `apaxy`! :-)

[2016-11-20 16:00] ivanPrunier commented on #75
Hi, what is the exact code to comment? The redirection is not working for me :/

Thanks in advance! :)

[2016-11-20 16:28] ivanPrunier commented on #75
My bad as well, just foud how to do it, thanks anyways, great creation!

[2016-11-21 08:44] #75 closed

[2016-11-30 23:14] jasonculligan opened #80 "Server name being stripped from URL for sub directories"
Apache2 on Ubuntu 16.04, /var/www/html contains the standard index.html location.  I place .htaccess and theme in this folder and I can see the CSS styling works nicely.  However there is a subfolder I use also in /var/www/html and when I hover over the subfolder icon 'http://servername/' gets stripped from the URL (http://servername/subfolder) and the URL just becomes 'subfolder' so I can't reach

[2016-12-02 02:14] duncanplatt commented on #80
Hi @jasonculligan, I've found this solution fixes it. I'm too new at git to submit a pull request, unfortunately, so I'm tagging @AdamWhitcroft for his attention.

I've narrowed the problem down to theme/footer.html on line 20:
Change this line:
`        while (i--){
            var a = indexes[i].getElementsByTagName('a')[0];
            a.href = '/' + uri + '/' + a.getAttribute('href',2);

[2016-12-02 08:22] AdamWhitcroft commented on #80
Thanks for that @duncanplatt, pinging @oupala to verify.

[2016-12-02 23:10] oupala commented on #80
I'm sorry to say that I don't have Chrome. I can't test the usecase.

[2016-12-04 17:59] bugparty commented on #51
using nginx thirdparty fancyindex module can solve this problem

[2016-12-07 04:08] mR12KL opened #81 "Can't get this to work. Images not loading, or something. Sure it's an easy fix..."
I'm a complete noob. I've uploaded the files and renamed the htaccess's

I keep getting this:

https://i.gyazo.com/a2b705c058f6bd4527eea27fe98d72c2.png

Any help?

[2016-12-07 15:36] mR12KL commented on #81
I did this:
`<Directory /var/www/>
	Options Indexes FollowSymLinks
	AllowOverride All
	Require all granted
</Directory>`

but do i need to do this
`<Directory /var/www/[MY DIRECTORY]>
	Options Indexes FollowSymLinks
	AllowOverride All
	Require all granted
</Directory>`

as well?

[2016-12-07 21:59] mR12KL commented on #81
https://i.gyazo.com/26b00f932bab1c8514d0c05c61353907.png

Now im getting this....

[2016-12-08 18:00] monyxie commented on #81
I had the same issue but only in subdirectories. It worked fine in the root directory.
I was able to fix it by prepending a `/` to every path in the main .htaccess file.

[2016-12-08 19:00] mR12KL commented on #81
Thanks!

[2016-12-08 19:00] #81 closed

[2016-12-13 12:34] AdamWhitcroft commented on #81
@mR12KL Apologies for not getting back to you sooner, I've been travelling. Thanks for your help @monyxie, very much appreciated!

[2016-12-17 20:18] ScottSmudger commented on #72
By having:
[code]

In your htaccess file should fix this

[2016-12-21 19:54] ijavid commented on #80
I've faced the same problem on my enviroment, using a virtual host for public directoty listing [link](http://public.ijavid.eu/).
In root directory link are generated like `//subfolder/` which is evaluated by browser (chrome) as a [protocol-less hiperlink](http://stackoverflow.com/questions/6785442/browser-support-for-urls-beginning-with-double-slash)

I'm suggesting the following solution:
`a.hre

[2017-01-05 17:55] oupala opened #83 "inline javascript does not comply Content Security Policies"
apaxy homepage contains some inline javascript (see [these lines](/AdamWhitcroft/apaxy/blob/master/apaxy/theme/footer.html#L10-L23)).

[Content Security Policy](https://content-security-policy.com/) encourage to move inline javascript into a separate javascript file and **not** to use `script-src 'unsafe-inline'`.

apaxy should move inline javascript into a separate javascript file.

[2017-01-11 13:22] AdamWhitcroft commented on #72
@akacross Did @ScottSmudger solve this for you?

[2017-01-15 23:05] oupala commented on #83
I created a pull request about that into #84

[2017-01-15 23:13] oupala commented on #83
By the way, I wonder what it this javascript useful for?

Everything seems to work even without this piece of javascript. Am I missing a specific feature?

[2017-01-26 19:51] PHR16384 commented on #80
Just letting you guys know that the above "fix" (via the js script appended to footer.html) causes the exact same problem when I test my server locally.  "localhost:[port]" is stripped out and all my links are changed to "http://[subfolder_name]" and "http://[filename]".

Is this still an issue without that script on www hosted servers?  If so, I'd suggest changing the fix to prepend all file/subf

[2017-01-27 10:48] oupala commented on #80
I finally tested it with Chrome, and it appears that I can't reproduce the problem.

I'm using the develop branch, without further modification to any js.

Do you have any public instance of apaxy where I can test and try to reproduce the problem with my Chrome?

[2017-01-29 17:03] edd-- opened #87 "combine with .htpasswd ?"
Hi,

I would like to combine apacy with basic authentication.

When I try to add:

AuthName "secure"
AuthUserFile .htpasswd
AuthType Basic
Require valid-user

I get a server error ...

Any idea how to solve this ?

thank you,

Edd--

[2017-02-03 10:21] nicozimmermann94 commented on #87
I guess apache cannot find your .htpasswd file. The path has to be absolute and not relative. So instead of `AuthUserFile .htpasswd` try something like `AuthUserFile /var/www/html/mydir/.htpasswd`

[2017-02-17 16:56] SystemRevolution commented on #80
i've fund a possible origin of the problem.
Try to change all `theme/` to `/theme/` (but Apaxy should be installed on root directory, I think).

[2017-02-17 20:16] oupala commented on #80
Ok. This problem has already been found, and fixed by a pull request (see #78).

This pull request has already been merged into branch *develop*. So try to install *develop* branch in order to check if it fixes your problem. And **no**, it does not mean you have to install apaxy in the root folder. Just edit the configuration to fit your needs:

`/{FOLDERNAME}/theme/`

[2017-02-24 19:01] PHR16384 commented on #80
- Switching to the dev branch didn't help.  Mostly because the .htaccess templates of each branch are identical (except for comments).
- When viewing server subfolders (when I type them into the URL bar manually), links are fine; **only screws up at server root dir**
- Should've mentioned: I've got my own special-snowflake way of organizing my server, Apaxy, etc.  This is my directory structure:

[2017-03-09 11:30] pcav commented on #72
I do have it, but only standard header and footer is displayed:
http://www.faunalia.eu/salgrid_repo_test/
Thanks for any hint.

[2017-03-13 15:40] pcav commented on #72
Strangely enough, on another install head and foot work. Maybe there are permission issues, I have to check. I'll report back for the record as soon as I get it.

[2017-04-10 15:06] UksusoFF opened #89 "lightGallery integration for display images in colorobox-like mode"
[lightGallery](http://sachinchoolur.github.io/lightGallery/docs/api.html) very nice work with apaxy.

Just add this in header.html:

[code]

[2017-04-23 14:38] stancufm commented on #89
Nice job with this script added to header.html. Thanks , i really like it!
I'm wondering if is there any way to add a zoom functionality to the script for photos that are at high resolution?
Anyway it's an improvement!

[2017-04-23 18:43] UksusoFF commented on #89
@stancufm you can try this: http://sachinchoolur.github.io/lightGallery/docs/api.html#lg-zoom

[2017-04-23 21:50] stancufm commented on #89
Thanks a lot! it worked, but now that i found such interesting info about lightGallery i was wondering if i can activate the Thumbnails plugin. While i've tried a lot of things i couldn't manage to make it work. This is what i used

[code]
What i'm missing here? Any help will be appreciated!
Thanks again @UksusoFF  for your time

[2017-04-24 06:18] UksusoFF commented on #89
Zoom functions is separate plugin file. Did you include this? http://sachinchoolur.github.io/lightGallery/docs/#include-files

[2017-04-28 16:08] oupala commented on #83
Are you willing to merge this request or not?

Is there a problem with my code? Should I improve it in a specific way?

[2017-06-04 23:14] robsd opened #91 "Does this work with lighttpd?"
Does this theme work with lighttpd aka. lighty?

It's similar to Apache but more lightweight.
It has the ability to add a custom CSS file so I thought it shouldn't be pretty hard to get it working.

[2017-06-13 17:23] mR12KL opened #92 "Set default sort order"
I want to set the default sort order to be ?C=M;O=D

How can I set this! Thanks.

[2017-06-13 19:02] UksusoFF commented on #92
http://httpd.apache.org/docs/trunk/mod/mod_autoindex.html#IndexOrderDefault

[2017-07-17 21:09] SychO9 opened #93 "Hide DOT files?"
Hello,
in my directory listing .htaccess and some other dot files are showing up, I'de like them to be hidden, is that possible ?

thanks in advance.

[2017-07-18 15:27] nodiscc commented on #93
https://httpd.apache.org/docs/2.4/mod/mod_autoindex.html#indexignore

[2017-07-18 19:38] SychO9 commented on #93
Thank You

[2017-08-02 21:24] danndaghost opened #94 "Breadcrumb"
Hello, i add breadcrumb to apaxy, tell me if you want to up or see it.
Thx!

[2017-09-05 02:10] daixiang0 opened #95 "can not show in each level dir"
[code]
Then i try to test each level dirs and find only the first dir can have style.
I find a way to slove it is that cp theme dir to each level dir.
Is there any better way to slove it?

[2017-09-05 02:27] daixiang0 commented on #95
duplicate as https://github.com/AdamWhitcroft/Apaxy/issues/62
I think could enable this change in this repo if possible?

[2017-09-05 02:45] daixiang0 commented on #62
Hi, i find this again:
[code]
But the style can not be applied

[2017-09-05 07:30] carlos-jenkins commented on #80
Hi I'm hitting this same issue with a current (master@af176b3932c01de23c32398c34eeb18e6f3b5b41) installation of Apaxy in the root of a virtualhost.

Happening with both Chrome and Firefox on Ubuntu 16.04 LTS.

![screenshot from 2017-09-05 01-27-53](https://user-images.githubusercontent.com/1628587/30049935-b1478488-91d9-11e7-953e-027bd206dbc0.png)

[2017-09-05 07:32] carlos-jenkins commented on #80
I can confirm that the solution provided by @duncanplatt works, thanks a lot!

Now working on both Chrome and Firefox.

[2017-09-05 09:24] duncanplatt commented on #80
I am glad to hear, @carlos-jenkins!

[2017-09-09 10:35] oupala commented on #62
Hi @daixiang0 !

Please open a new issue to discuss about your problem.

[2017-09-16 05:00] archeonkhan commented on #51
I'd like to bump this, would love to see this on nginx.

[2017-09-17 14:03] Angristan commented on #51
Maybe this could help: https://www.nginx.com/resources/wiki/modules/fancy_index/

[2017-09-17 21:38] Pyroglyph commented on #95
I'm having the same issue. I assume it's a design flaw? To reiterate what daixiang0 said, only the directory in which /themes/ is in will be styled, but not it's subdirectories. Is there an elegant solution that does not require us to copy the /theme/ and .htaccess files to every directory we want styled?

[2017-09-20 02:15] rivermont commented on #95
As far as I can tell the only way is two copy the files into each directory. You can save some space if you know what the contents will be by deleting unnecessary images and customizing the `.htaccess` files.

[2017-09-20 17:36] Romanmir commented on #95
I just tested on my server, and it looks like you can also ln -s ../theme theme (assuming you are currently in a child directory, you may need to season to taste.)

[2017-09-21 01:43] rivermont commented on #95
I was experimenting, and discovered a thing:

~~If you have `theme/` anywhere on you're server, you can replace all occurrences of `theme/` in the `.htaccess` with `/path/to/theme/folder/`. Note the `/` at the start, indicating the server home directory.
This also means that the header, footer, and icons will be updated across-site when they are edited in the one folder.~~

UPDATE:
The `.htaccess`

[2017-10-02 13:30] alexfoxetech opened #97 "Can't change <title> without using +SuppressHTMLPreamble which breaks style"
As above, I believe +SuppressHTMLPreamble prevents some of the HTML that apaxy extends from being generated in the first place meaning the page does not render correctly at all, are there plans to update apaxy to not be reliant on the default html so we can change the <title> tags?

[2017-10-24 02:58] rivermont opened #98 "Custom Error Pages"
It would be great to have custom HTTP error pages to go with the theme. Will look into this myself.

[2017-10-24 02:59] rivermont commented on #62
Can this be closed? It looks like the original problem was resolved.

[2017-10-24 06:59] oupala commented on #62
The problem is resolved by commits merged into `develop`. So `master` branch is not (yet) fixed.

Once @AdamWhitcroft merge `develop` into `master`, then - yes - I do agree with you that this issue should be closed.

And I'm hardly waiting for this. We need `master` branch to be bug-free as much as possible. This is what a `master` branch is for.

[2017-11-01 13:36] commonpike opened #100 "links rewritten to //uri when in root level"
If you apply this on a domain root (https://mydomain.com/) the little javascript in footer.html rewrites the links to start with // instead of slash, causing the browser to go to, for example, //README.md, which becomes https://README.md which doesn't exist.

I just disabled that whole javascript for now. I think .. apache is removing the trailing slash already

Otherwise, tis a beauty, thanks!

[2017-11-02 01:00] rivermont commented on #100
Nice find. I don't have this in root so I can't test but I can see this getting bad somewhere.

[2017-11-02 12:50] AdamWhitcroft opened #101 "Looking for someone to take over active maintenance of Apaxy"
Hey there,

I'm looking for someone who'd be interested in taking over the active maintenance of Apaxy moving forward. I don't have the time available right now to give it the attention it deserves, and I don't want to let people down by letting the repo go stale.

If you're interested, let me know below and we'll figure out the best way to move it forward.

cc @oupala

[2017-11-02 15:24] rivermont commented on #101
I'm interested. Not sure how full-time I would be able to be but I could handle PRs and Issues. I haven't used Apache for long so active development might not be a thing for me.

[2017-11-03 21:31] oupala commented on #101
I'm also ok to maintain apaxy as I'm using it. I don't want to be the only maintainer so sharing this role with someone else is ok for me (maybe @rivermont ?).

[2017-12-07 00:27] jordanbancino commented on #101
I have used Apaxy for a little while, and customized it quite a bit on my system. I think I could maintain it. I definitely have the time

[2017-12-08 12:02] harpreetsb commented on #100
same for me

[2017-12-12 05:57] damianperera commented on #100
Same for me

[2017-12-12 06:12] damianperera commented on #100
This issue can be fixed by replacing the anchor href replacement code in `footer.html`'s JS script
(`a.href`) with the following snippet:

`a.href = uri + '/' + a.getAttribute('href',2);`

[2018-01-29 15:23] pcav opened #104 "Edit to hearder.html and footer.html not shown."
It's most likely something I'm doing wrong, so sorry for opening a ticket.
I edited theme/header.html as follows:

``theme$ cat header.html
<div class="wrapper">

<p>Test</p>

but nothing appears on the index page: any explanation?
Thanks a lot.

[2018-02-05 16:14] f13dev commented on #94
Hello danndaghost, I've noticed that the breadcrumb isn't included in the latest release. Could you share how you achieved adding the breadcrumb?

[2018-02-13 17:21] GodsVictory commented on #95
Simply replacing `theme/` with `/theme/` worked for me.

[2018-02-15 08:29] oupala commented on #101
As far as I understand, @jordanbancino could be the official maintainer of apaxy, helped by @rivermont and myself. Could you please @AdamWhitcroft tell us what you think of this threesome proposal?

If you need more information, each of us can tell you in a few lines what we think about the futur of apaxy. That could be a good way to check that we all share the same thoughts about it.

[2018-02-15 08:32] oupala commented on #101
I see that @chrisssycollins has also proposed in #103 to share the governance of apaxy, and has already share his toughts about apaxy.

[2018-02-15 08:36] oupala commented on #101
So let's start and share my thoughts: I don't have a particular opinion about what should the futur of apaxy. I just like to keep it (simple) stupid, easy to install anywhere, without much requirements (an httpd server), easy to install in a root directory or in a subdirectory.

For the rest, I'd like the futur to be community driven, paying attention to all good wills, even small ones, to merge o

[2018-02-15 12:14] AdamWhitcroft commented on #101
Thanks for the replies everyone! @oupala you’ve been a consistent contributor to Apaxy so I’m happy to let you take it over (as part of the quartet!).

What do I need to do for that to happen?

[2018-02-15 22:42] oupala commented on #101
Great news @AdamWhitcroft.

You can transfer your repo to me following instructions from [GitHub help](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/#transferring-a-repository-to-another-user-account-or-to-an-organization).

[2018-02-16 23:18] oupala commented on #101
Thank you @AdamWhitcroft . The repo has been transferred. Let's start to work!

To @rivermont, @jordanbancino and @chrissycollins, here are what I'd like us to do for now:

- [ ] respond to issues and close them if possible
- [ ] respond to pull requests and merge them if possible
- [ ] start to version Apaxy (what should be the first release? v1.0.0 ?)

Tell me what you think of these first steps

[2018-02-16 23:19] jordanbancino commented on #101
Ok. Sounds good!

On Feb 16, 2018 6:18 PM, "oupala" <notifications@github.com> wrote:

Thank you @AdamWhitcroft <https://github.com/adamwhitcroft> . The repo has
been transferred. Let's start to work!

To @rivermont <https://github.com/rivermont>, @jordanbancino
<https://github.com/jordanbancino> and @chrissycollins, here are what I'd
like us to do for now:

   - respond to issues and close them i

[2018-02-16 23:25] jordanbancino commented on #104
Make sure the .htaccess file is pointing to the proper location. I had this same issue, just to find that I was pointing to the wrong .htaccess.

[2018-02-17 20:43] jordanbancino commented on #91
It all depends on how `lighttpd` generates it's directory indexes. Also, does it support all of the things in `.htaccess`? If it does, then yes, apaxy should work with lighttpd. I'll do some research on this.

[2018-02-19 15:16] pcav commented on #104
Could be some conflict among apache confs

[2018-02-19 15:59] pcav commented on #104
Strangely enough, other options of apaxy (icons etc.) work well, so I guess .htaccess is interpreted.

[2018-02-20 02:46] rivermont commented on #93
@SychO9 Did that link resolve your issue?

[2018-02-20 02:49] rivermont commented on #83
@oupala Can this be closed now that the pull was merged?

[2018-02-20 03:22] rivermont commented on #101
Sounds like a plan!
I may only be a very partial maintainer (?) as school is taking over, but I'll do what I can.

I think it would be good to figure out what to do with icons, as there have been multiple pulls regarding compressing or changing them. I think one option might be to have large icons for those seeking quality and smaller icons for those looking to save space.

#63 and #99 reduce the

[2018-02-20 16:54] oupala commented on #83
You're right!

[2018-02-20 16:54] #83 closed

[2018-02-20 17:00] oupala commented on #101
Ok, regarding what you say, we won't merge all the pull request, it would be meaningless.

What should we prioritize? Icons size, new icons, new design?

What about merging #103? The last one and the one that reworked all icons (which makes previous PR irrelevant)?

It's always hard to manage old pull request. Some of them may not be inaccurate, the PR's author might have gone away, or can be demo

[2018-02-20 18:32] danielwinther commented on #94
@f13dev I've created the following function to generate a breadcrumb navigation based on the URL:
[code]

Call the function this way:
[code]

Remember to add the HTML where the breadcrumbs should occur:
[code]

You may have to play around with it a bit depending on how you've set up your own theme.
Hope it helps :)

[2018-02-20 19:18] danndaghost commented on #94
I do this on js

`var uri = window.location.pathname.substr(1);
var arr = uri.split('/');
var url = ""
var bread = '<li><strong><a href="/">Home</a></strong></li>';
var cont = 1;
arr.forEach(function(value){
        url = url + '/' + value;
        if(value != ''){
            if(arr.length == cont+1)
                bread += "<li class='active'>"+decodeURI(value)+"</li>";
            else

[2018-02-21 10:15] chrisssycollins commented on #101
@rivermont @oupala Regarding quality and sizes of the icons. I created the icons in #103  from scratch, they are all vectors and can exported to any size and type we need.

On the subject of PRs:

I'd close the following due to either being fixed by another, really old or not bringing enough:
#15
#30
#49
#63
#85
#88
#90
#99

I'd keep open and either recreate (bring up to date) the changes or merge

[2018-02-21 21:44] oupala commented on #101
Thank you @chrisssycollins for your helpful answer. I followed most of your advices.

I also rebased develop onto master (sorry for rebasing a public branch) et release a v1.0.0 of apaxy. I think we needed a clear versionning and a clear base for managing changes.

v1.0.0 is more or less what we knew about apaxy for months. Let's start to work on feature branches and on develop branch to bring bes

[2018-02-22 01:10] jordanbancino commented on #98
Oh yes. This would be very easy. Just adding these to the `.htaccess` file would redirect apache to these pages instead:

    ErrorDocument 404 /errors/not_found.html
    ErrorDocument 403 /errors/forbidden.html

Of course, we could do more errors, and put their pages where ever we want.

[2018-02-22 01:15] jordanbancino commented on #98
Oh, we could also do something like this:

    ErrorDocument 500 "The server encountered an error"

But that wouldn't be a styled error page...

Anyway, [this article](https://httpd.apache.org/docs/2.4/custom-error.html) has lots of good information on this.

[2018-02-22 01:50] PeterDaveHello commented on #101
I'd like to help.

[2018-02-22 08:24] oupala commented on #101
@PeterDaveHello Please do. Do you know how you want to help or do you want us to tell you what to do?

[2018-02-22 08:29] PeterDaveHello commented on #101
I maintain few projects including some famous(feel free to take a look at [my GitHub page](https://github.com/PeterDaveHello)), know about sysadmin, web dev,etc, so I'm fine to do what can I do, PR reviewing, issue management, discussion, etc.

[2018-02-22 08:35] oupala commented on #101
Ok, the main task now is to review all issues and check if they are still valid with version 1.0.0 that I published yesterday.

[2018-02-22 08:39] oupala commented on #62
All tasks mentioned in this thread have been completed. It's time to close this issue.

[2018-02-22 08:39] #62 closed

[2018-02-22 08:40] oupala commented on #33
New icons set is coming. It will hopefully already be optimized.

[2018-02-22 08:40] #33 closed

[2018-02-22 08:42] oupala commented on #52
This issue has been resolved and @hartsook does not seem to answer back.

I'm closing this issue. Feel free to comment if you want some more informations.

[2018-02-22 08:42] #52 closed

[2018-02-22 08:45] oupala commented on #87
I managed to use apaxy in combination with an `.htpasswd` file. There is no conflict between them.

So there should be a solution to your problem. @edd--, have you tried @nicozimmermann94 solution?

[2018-02-22 08:54] oupala commented on #71
Closing issue as @Tom7320 does not answer.

[2018-02-22 08:54] #71 closed

[2018-02-22 08:56] oupala commented on #95
@GodsVictory had the right answer.

Issue has been fixed in master branch, and in 1.0.0 release.

I'm closing this issue.

[2018-02-22 08:56] #95 closed

[2018-02-22 08:58] oupala commented on #72
Issue seems fixed.

I'm closing it.

[2018-02-22 08:58] #72 closed

[2018-02-22 09:00] oupala commented on #94
This issue should be converted to a pull request.

[2018-02-22 09:02] oupala commented on #98
Does anyone plan to write such an error page?

[2018-02-22 11:07] jordanbancino commented on #98
Yes. I can do it.

[2018-02-22 13:06] oupala commented on #98
Good @jordanbancino. Feel free to reference this issue in your pull request.

[2018-02-22 14:08] UksusoFF commented on #89
I don't think that really need include this feature to master. Maybe just create readme section with helpful snippets and link to this and other optional issues.

[2018-02-22 14:28] jordanbancino commented on #98
@oupala Awesome, I’ll get to work.

[2018-02-22 15:04] PeterDaveHello commented on #101
So I think I should be added as a collaborator so that I can do that?

[2018-02-22 15:28] oupala commented on #89
I would have proposed to turn this issue into a pull request.

But if you don't think this should be included in the code, it could be included in documentation.

Does anyone has an opinion about that?

[2018-02-22 15:30] oupala commented on #101
@PeterDaveHello You can comment any issue without being a collaborator.

[2018-02-22 16:08] PeterDaveHello commented on #101
Yes, but can't label, assign, or close any issues including pull requests, also can't merge pull request or review pull request with the review functions on GitHub, they are all very important part of maintenance, right?

[2018-02-22 16:36] AdamWhitcroft commented on #101
Hey everyone, just wanted to thank you for your passion for taking over this project. I made it as a side thing over a weekend a while ago and it got a little bigger than I had anticipated, and I wasn't really in a position to give it the attention it needed. Really stoked that it's going to be looked after by such awesome people.

Thanks for all of your support, and for taking the reins from here

[2018-02-22 17:19] PeterDaveHello commented on #101
Hey @AdamWhitcroft thanks for the project anyway, would you ever consider to move this project to an organization (Maybe just call it **Apaxy**!) so that you can still be an owner, one of the owners, and there can be few or more members to help maintain this project? As I think the permission and team management feature is lack in personal project, though I'm even not a collaborator yet, just my o

[2018-02-22 18:29] jordanbancino opened #107 "Automation script?"
I was looking at the README, and thought about making a shell script to autmate the installation of apaxy. We could have it automatically adjust the .htaccess files depending on the path and all that fancy stuff. I’m not talking about Docker, but an independent script to install it to a given path. Is this something we would make use of?

[2018-02-22 21:04] jordanbancino commented on #59
The changes in #109 also use the external fonts, so if we wish to fix this, the error pages will have to be updated as well.

[2018-02-22 21:38] nodiscc commented on #101
Thanks @AdamWhitcroft for writing Apaxy and supporting it for so long! And everyone for keeping this running.

I use it daily for years as a static home server homepage. What I like about Apaxy: it's static, it works without JS, it's fast, it leverages basic apache functionality to do it's job, it rarely changes. My only "problem" so far is the external font (#59), I wish this could be made option

[2018-02-22 21:56] jordanbancino commented on #107
Yeah, I totally understand all of your concerns. Of course, we wouldn't make it mandatory. We could still keep all the instructions in the README the same, just maybe add a section at the top called "Quick Start" or something with instructions on how to run the script (as `root`, probably).

As for Mac and Windows users, I'm sure there would be problems, and I can't see maintaining three different

[2018-02-22 22:07] oupala commented on #107
Running a script as root is a serious security concern for me. I see too much people running bash script downloaded from GitHub without understanding what is does, and even not knowing what `sudo` means.

And how would the script determine the path to replace? Would it be a parameter (the script is then juste an automated **find and replace** or would you try to determine the path from apache conf

[2018-02-22 22:15] jordanbancino commented on #107
Yes, it would take a parameter, and find an replace. I could also write a warning in the README about running scripts from the internet. I completely agree with you on the security factor of it.

[2018-02-22 22:36] oupala commented on #59
I agree with @nodiscc, we have to fix this issue. The advantage he lists are important:

Should we add a script (but it should be platform independent, make is not availabel everywhere, see #107), or should we include the font statically?

[2018-02-22 22:48] oupala commented on #80
Can we close this issue?

[2018-02-22 22:49] oupala commented on #92
Can we close this issue?

[2018-02-22 22:50] oupala commented on #97
I did not understood your issue. Could you please explain it once again?

[2018-02-22 22:53] oupala commented on #100
The file is now `apaxy.js`.

Should we apply the fix?

[2018-02-22 22:54] oupala commented on #104
Can you make sure that `header.html` has the right user, the right group and the right permission. The file has to be readable by apache.

[2018-02-22 23:02] oupala commented on #107
In my opinion, the hardest thing is not to *find and replace*, the hardest thing is to know what is the replacement string.

In other words, an automated script would automatize the simple task, and do nothing for the complex one.

It would be better to put efforts on the README, with examples.

[2018-02-22 23:06] jordanbancino commented on #107
It would just replace the `{FOLDERNAME}` string, right? That's what the convention is, from what I can see.

[2018-02-22 23:11] nodiscc commented on #59
Famous last words. Sorry I actually forgot about this, and I don't think I will have time to work on it. What I would do, in order of preference:

 - Don't include the font, browsers with an available local Open Sans font will display it fine, and those who don't will provide a reasonable fallback.
 - Provide a bundled Open Sans as part of tagged releases (https://help.github.com/articles/creating

[2018-02-22 23:16] nodiscc commented on #107
is not necessary in that case, it can be run as an unprivilegied user, then the resulting files placed/uploaded to the desired apache dir. Or it could be run as `www-data`. I think the script should just

 - let the user define some variables (page title, footer content, FOLDERNAME, additional IndexOptions...)
 - automate replacement and renaming (i linked to some ideas [here](https://github.com/o

[2018-02-22 23:18] oupala commented on #89
I tested this feature and I like it.

The question is: is apaxy an image viewer or a file viewer? I think you have already answered this question is [this post](/oupala/apaxy/issues/89#issuecomment-367691353):

But, if we find an elegant solution to integrate it to the code, while only enabling it for those who want to it could be a great thing.

Main problem is that we don't like external resourc

[2018-02-22 23:20] oupala commented on #107
Ok, let's try.

But the hard thing is:

And this step is not automated (and can hardly be).

[2018-02-22 23:41] jordanbancino commented on #107
@nodiscc I actually never thought of that. That's definitely the safer option.

[2018-02-23 00:49] jordanbancino commented on #107
Ok, so do you want me to try this, or do one of you guys want to take a swing at it?

[2018-02-23 01:12] jordanbancino commented on #89
I think this is a really nice feature, but I don't think that's what apaxy was meant to be. Even #109, the pull request I'm working on pushes what I imagine the original vision for apaxy being. But hey, I love the feature, and wouldn't mind seeing this at all.

[2018-02-23 01:30] damianperera commented on #100
@oupala yes please :)

[2018-02-23 10:05] pcav commented on #72
-rw-r--r-- 1 paolo paolo  861 Jan 29 16:35 footer.html
-rw-r--r-- 1 paolo paolo  159 Feb 18 20:38 header.html

[2018-02-23 10:05] pcav commented on #104
-rw-r--r-- 1 paolo paolo  861 Jan 29 16:35 footer.html
-rw-r--r-- 1 paolo paolo  159 Feb 18 20:38 header.html

[2018-02-23 16:00] jordanbancino opened #111 ".conf Icon"
The icon for `.conf` files does not match the theme of apaxy. I'm guessing that `Apache` defaults `.conf` files to this, because apaxy does not even have a `.conf` icon.

![capture](https://user-images.githubusercontent.com/27834353/36603244-2ecd7716-1888-11e8-8530-4e9082cbf0c2.PNG)

[2018-02-23 16:18] jordanbancino commented on #111
I drew up a quick icon:
![conf](https://user-images.githubusercontent.com/27834353/36604188-fc6a1a60-188a-11e8-8872-c702372a3cd2.png)

Here's how it looks:
![capture](https://user-images.githubusercontent.com/27834353/36604198-060dd2dc-188b-11e8-8b5c-846ce6d2c09f.PNG)

[2018-02-23 21:38] oupala commented on #89
I think we have to think about a very very simple way to make apaxy modular. LightGallery could be one of this module.

[2018-02-23 21:41] oupala commented on #100
I'd like to see someone else confirm the bug, and the fix.

@ jordanbancino would you kind to test that?

[2018-02-23 21:46] oupala commented on #59
I agree with your proposal.

Depending on the install automation script (see #107), we'll see what solution we will choose.

[2018-02-23 21:57] oupala commented on #104
Is there any log in apache error.log that can show any problem?

Do you have an example website so we can browse it? And try to find an explanation?

[2018-02-24 02:57] jordanbancino commented on #100
Yeah, no problem. I'll work on it later this week when I have time.

[2018-02-24 06:37] UksusoFF commented on #89
I'm not see easy ways how use modules.

Probably we can use [SSI](http://httpd.apache.org/docs/2.4/howto/ssi.html). But it's required module enable and still have issues with remote files.

So apaxy should use with npm package manager for use local versions required third-party.

But this can complicate quick start installation for some users.

[2018-02-24 11:51] oupala commented on #89
I don't see an easy way either.

It might be commented directive that you need to uncomment to enable feature. And a shell script that downloads required libraries. This makes apaxy easy to use for beginner, and powerful for advanced users that have possibility (and knowledge) to execute a shell script.

[2018-02-24 18:23] pcav opened #113 "Parametrize {FOLDERNAME}"
If put in a variable, user can change it only once for the whole htaccess

[2018-02-24 18:29] pcav commented on #104
Here you are: http://www.faunalia.eu/pdf/
Nothing in apache logs.
Permissions checked:
`-rw-r--r-- 1 paolo paolo   383 Feb 24 19:12 footer.html`

[2018-02-24 21:27] oupala commented on #104
I found no clue browsing your website.

Is there any log in apache error.log that can show any problem?

[2018-02-25 01:10] jordanbancino commented on #113
I agree, this is desirable. But does anyone know if this is even possible? A quick google search brings up nothing on placing variables in `.htaccess`. But if we could somehow accomplish this, then I could probably close #107

[2018-02-25 01:19] jordanbancino commented on #100
Ok. Here's what I found:

This bug is indeed a problem with my installation. As for the fix, unless I applied it wrong, it does not work. I will clone and install @damianperera's version later this week, as they seem to have fixed it, judging by the commit reference.

[2018-02-25 10:24] oupala commented on #104
You mean that it works well on salgrid, and it does not work on faunalia?

[2018-02-25 10:40] pcav commented on #104
Apparently yes. That of Salgrid was a version from last year.

[2018-02-25 11:26] pcav commented on #113
Maybe a rewrite helps here?
It seems to add more complexity than needed though:
https://serverfault.com/questions/177827/declaring-variable-in-htaccess-to-determine-deployment-environment
so feel free to close this if you think it is inappropriate.

[2018-02-25 12:36] jordanbancino commented on #113
I'll take a look into it. I do think this is something we should work on.

[2018-02-25 21:13] oupala commented on #104
Ok, so let's dig in deeper.

Can you check the operating system version (and type) and the apache version?

[2018-02-26 01:32] pcav commented on #104
Both Debian Jessie
Both apache 2.4.10-10+deb8u11
On the one not working I'm using latest version of Apaxy, on the working one that of last year. I think it is more likely that I'm doing something wrong, or that other confs interfere with this, but I cannot find what.
Thanks a lot!

[2018-02-26 11:29] alexfoxetech commented on #97
Basically I want to change the <title> value of the directory. If I add a <title> to header.html it doesn't work as it actually appears in the body of the document. I cannot use IndexHeadInsert as this just appends another <title> to the header.. Is there anyway to change the title in apaxy?

[2018-02-26 20:29] oupala commented on #104
Ah, all versions are similar.

Could you apply a global `diff -rq /etc/apache2` to see configuration differences between both machines?

[2018-02-26 21:02] jordanbancino commented on #100
I am using Chrome.

[2018-02-27 20:38] oupala commented on #100
Issue #100 and issue #80 are the same.

Both fix are very similar.

[2018-02-27 20:39] #101 closed

[2018-02-27 20:39] oupala commented on #113
The automation script would be the best solution.

See #107.

[2018-02-27 20:41] oupala commented on #111
Please make sure that @chrissycollins (wo works on pull request #103) that your icon is compatible with the ones from the pull request.

[2018-02-27 20:50] oupala commented on #80
Closing this issue as it is a duplicate of #100.

[2018-02-27 20:50] #80 closed

[2018-02-27 21:42] oupala commented on #97
I tested to reproduce your problem, and I can't see any easy way to achieve what you want to.

As you said, adding the `title` tag to `header.html` adds it in the body.

Using the `IndexHeadInsert` directive just appends another `title` tag to the header, which is ignored by the browser as it is the second `title` tag.

Maybe you can report in `header.html` the beginning of the default header that

[2018-02-28 06:06] PeterDaveHello commented on #101
@oupala can you please take a look at my previous comment? Thanks.

[2018-02-28 06:16] PeterDaveHello opened #115 "Current Dockerfile is not working"
The current `Dockerfile` and `apaxy/theme/htaccess.txt` they don't work happily together, all the icons are 404 not found, will need to fix it.

![image](https://user-images.githubusercontent.com/3691490/36772719-5284aae6-1c91-11e8-8439-4bdf79b906c4.png)

![image](https://user-images.githubusercontent.com/3691490/36772796-998510ca-1c91-11e8-9688-2f559743b7de.png)

[2018-02-28 07:46] oupala commented on #101
This is obviously something that we should do one day. However, we just took the task of maintaining apaxy from the original author @AdamWhitcroft. It is a bit too early to switch now to an organization.

But that's definitely something that we should do at some point. I don't see the point of keeping the ownership of this project for a long time. I only see it as a transitional phase.

[2018-02-28 08:28] alexfoxetech commented on #97
Yes this is what I originally did, but using SuppressHTMLPreamble seems to break Apaxy in my tests.

[2018-02-28 08:36] alexfoxetech commented on #97
Ok, no problem, I wasn't closing the correct tags in the footer.html file. All sorted, thank you :)

[2018-02-28 08:36] #97 closed

[2018-02-28 20:05] pcav commented on #104
Working:
[code]
Not working:

[code]

[2018-02-28 23:31] #98 closed

[2018-02-28 23:44] oupala commented on #115
Maybe @IntiGabriel (the original commiter of the Dockerfile) will want to update it?

[2018-02-28 23:47] oupala commented on #104
That's so strange. I can't figure out what happens to your non-working server. Sorry.

[2018-03-01 08:13] pcav commented on #104
So do I. Thanks for your time in investigating this. I'll sort it out sooner or later.
I'll inform you when solved.
Thanks again.

[2018-03-01 10:38] UksusoFF commented on #107
Maybe it's will be easy make some configuration generator based on js/html?

Such as: https://shorturls.redwerks.org/?url=https%3A%2F%2Fru.wikipedia.org%2F

[2018-03-01 14:59] jordanbancino commented on #111
I can do that, but that was more of a mock-up. I’m not a graphic designer, so I didn’t know if you guys would actually want it. The issue was more just to state the fact that we don’t have an icon for `.conf` file. I thought maybe someone else might want to make an icon for it or something.

[2018-03-01 20:10] oupala commented on #111
@chrisssycollins can tell you if he has a conf icon in his new set.

[2018-03-02 10:41] chrisssycollins commented on #115
@oupala @PeterDaveHello I've fixed in #103.

[2018-03-02 13:26] #111 closed

[2018-03-02 14:16] jordanbancino commented on #92
Yeah, this isn’t an Apaxy issue. Let’s close it. @oupala

[2018-03-02 16:08] #92 closed

[2018-03-02 19:13] jordanbancino commented on #113
@oupala Ok. I agree. Should we close this then?

[2018-03-03 12:35] #113 closed

[2018-03-14 14:23] ankitg1989 opened #118 "last modified time is in UTC even when system time is in IST"
![selection_139](https://user-images.githubusercontent.com/20354406/37408058-5345f09e-27c1-11e8-9761-828a7dfec95f.png)

[2018-05-07 22:17] oupala commented on #118
I think this is not linked to apaxy.

Can you try on a default index page without applying apaxy?

[2018-05-08 23:41] jordanbancino opened #119 "Community Profile"
This repository follows very strict committing and contributing guidelines. It would be very beneficial to the maintainers of this project if we laid out exactly what we want and expect of our contributors in a `CONTRIBUTING.md` file. I could try to write one up later, but I think it'd be best if, @oupala, you could write it, as you facilitate the activities this project.

Also, would it be benefi

[2018-05-10 18:25] jordanbancino commented on #107
@oupala @nodiscc
Ok, I have a prototype script [here](https://gist.github.com/jordanbancino/08e2b2874dc46b464b79423705dd39dc). Let me know if this is what you imagined or not.

[2018-06-26 22:48] oupala commented on #119
I've added the default templates for issues (bug template, feature request template, and custom template). Let me know if you think this is not convenient for this project and if [issue templates from stevemao](https://github.com/stevemao/github-issue-templates/tree/master/simple) are better (and please tell me why).

We also have to think about a pull request template.

For the code of conduct, I

[2018-07-10 19:12] jordanbancino commented on #107
@oupala Ok, I'll fix up those things, then when I have time I can actually test it. I wrote that entire script on the GitHub Gist web interface on my iPad one day, and it had been a while since I'd written a shell script, so when I have time, I can test it as well. There's a couple lines that I don't even know if they'll work.

[2018-07-17 22:45] oupala commented on #107
I plan to test this script this summer, but I did not start to test it until now.

Maybe you can validate your script using [ShellCheck](https://www.shellcheck.net/) (available online, or via a package manager)?

[2018-08-29 21:33] #93 closed

[2018-11-22 00:52] mathetos opened #120 "featherlight as lightbox gallery"
**Is your feature request related to a problem? Please describe.**
A lightbox gallery makes a lot of sense. Similarly to #89 but I prefer the style of featherlight to lightGallery.

**Describe the solution you'd like**
Here's the code I use in my header.html:

[code]

**Describe alternatives you've considered**
#89 works fine, but I like this better.

**Additional context**
I agree with many other

[2018-11-23 08:31] oupala commented on #104
Did you have time to investigate? Or can we close the issue?

[2018-11-23 08:32] oupala commented on #100
Should we close the issue?

[2018-11-23 08:33] oupala commented on #94
Could you please open a pull request for this change?

[2018-11-23 08:33] oupala commented on #91
@jordanbancino Did you had time to work on lightttpd compatibility?

[2018-11-23 08:36] oupala commented on #74
@tylerscochran Are you willing to test apaxy compatibility with litespeed?

[2018-11-23 08:52] oupala commented on #73
@gusbemacbe Have you solved the issue? If no, we might be obliged to close the issue as it seems that on one is using XAMPP here.

[2018-11-23 08:53] oupala commented on #51
Has anyone tested apaxy compatibility with Nginx? Otherwise we might be obliged to close the issue if no one is using Ninx.

[2018-11-23 08:54] oupala commented on #29
@guilhermevini Can you please create a pull request for your changes?

[2018-11-23 08:55] oupala commented on #120
Thanks for this contribution @mathetos. Can you please create a pull request with your changes so that we have a working prototype to test?

[2018-11-23 08:58] oupala commented on #87
As there is no answer from @edd--, I will soon close the issue.

[2018-11-23 09:00] oupala commented on #107
Have you had time to test the script?

[2018-11-23 09:01] oupala commented on #118
As there is no answer from my last comment, I will close the issue.

[2018-11-23 09:01] #118 closed

[2018-11-23 19:36] oupala commented on #74
It is as you want. I don't know anything about litespeed servers. So I cannot help directly.

[2018-11-23 21:43] gusbemacbe commented on #73
Yes, I did, you can close now.

[2018-11-24 08:12] oupala commented on #73
Ok, I'm closing the issue.

Do not hesitate to share your solution with us. It might be useful for others.

[2018-11-24 08:12] #73 closed

[2018-11-25 05:54] gusbemacbe commented on #73
When I will be on holidays (on 7 December), I will make a tutorial to share with you.

[2018-11-26 18:35] jordanbancino commented on #107
Oh man, I totally forgot about that. I can throw Apaxy on my server real quick and give it a go. I've been pretty busy lately, so I can't promise I'll have time to finish it, but I'll take a look, and at the very least fix up anything that I currently have implemented that doesn't work.

Whether I get it working or not, I'll report back shortly.

[2018-11-26 20:40] oupala commented on #107
@jordanbancino I was also very busy lately. But I'm about to start a new test session for all pull requests so it might be time for you and me to finalize all our pending job in order to clean up pending items (issues, pull requests) of this repo.

[2018-11-27 14:33] oupala commented on #74
As [LiteSpeed documentation says](https://www.litespeedtech.com/solutions):

So it should work!

[2018-11-27 14:33] #74 closed

[2018-11-27 14:36] oupala commented on #51
As [Nginx document says](https://www.nginx.com/resources/wiki/start/topics/examples/likeapache-htaccess/):

As a consequence, Apaxy will probably don't work out-of-the-box with Nginx, while **it could work** with a bit of tuning.

[2018-11-27 14:36] #51 closed

[2018-11-27 14:38] oupala commented on #100
The issue is fixed in the development branch a release will soon be published.

[2018-11-27 14:38] #100 closed

[2018-11-27 14:45] oupala commented on #91
As Nginx (see #51), [lighttpd documentation](https://redmine.lighttpd.net/projects/lighttpd/wiki/FrequentlyAskedQuestions#Do-you-support-htaccess-files)  says that lighttpd does not support htaccess files:

As a consequence, Apaxy will probably don't work out-of-the-box with lighttpd, while **it could maybe work** with a bit of tuning.

[2018-11-27 14:45] #91 closed

[2018-11-27 14:54] oupala commented on #119
I've just added a basic pull request template.

[2018-11-28 10:12] bugparty commented on #51
It does works if fancyindex  installed with nginx

[2018-11-29 12:30] oupala commented on #59
While testing apaxy, even if the OpenSans font is still imported:

https://github.com/oupala/apaxy/blob/10de49ea5128b6b6d31929f7a40245c765486a5b/apaxy/theme/style.css#L12

I can't find any request to Google to import the font, in the network tab of Firefox developer tools.

Does anyone know why?

[2018-11-30 15:44] jordanbancino opened #122 "Error pages stylesheets do not point to absolute paths."
**Describe the bug**
The custom error pages reference stylesheets, but do not point to an absolute path. This is problematic because when the page is shown from a different location than what is expected, the style sheet will simply not load.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Apaxy using the installation instructions
2. Generate an error to display the error page
3. Find

[2018-11-30 16:06] jordanbancino commented on #119
Yep, looks good, I'd say we can close this one.

[2018-11-30 16:07] jordanbancino commented on #107
The script is almost complete, I just have to figure out a few more things, then it should all be good. I'll also add instructions to the README.

[2018-11-30 16:10] jordanbancino commented on #59
Maybe the user can just configure this on their own, as this might  be a little hard to do automatically, but nevertheless, I can take a look.

[2018-11-30 17:12] oupala commented on #122
You're right. I think the bug comes from the abilty to install apaxy at the root level or not. We had to use a relative path so that it works in all cases. Unfortunately, it was working wherever apaxy was installed, but only at the root level of apaxy.

We'll have `{FOLDERNAME}` all over the files, which will make apaxy less user friendly, and the automation script more useful for installing. Ther

[2018-11-30 17:15] #122 closed

[2018-11-30 17:17] oupala commented on #119
I'd like to add a CONTRIBUTE file before closing the issue.

[2018-11-30 17:18] oupala commented on #107
Could you please open a pull request now so we can start to test and discuss the script?

[2018-11-30 17:43] jordanbancino commented on #119
Ah I see, cool.

[2018-12-03 15:10] jordanbancino commented on #107
Yes, I can. But first, I'd like to clarify exactly what you would like me to do with the font. I'm working on #59 right now. @nodiscc said:

So are you looking to use this script to download and configure the font properly?

If you don't want me mess with the font in the script at all, then I think we have plenty of good options here, but I just want to know what your vision for handling fonts via

[2018-12-03 15:13] jordanbancino commented on #107
Also, if I were to download the font within the script, we would need to do something like [this](https://stackoverflow.com/a/24990647) in our style code, correct? Because when I `curl`ed the current font URL, all it does is link to a bunch of different formats to ensure that all browsers are supported. So if we were to do local fonts, then I would need to figure out how to fetch all the different

[2018-12-03 15:37] #87 closed

[2018-12-03 15:45] oupala commented on #107
I think we should aim at simplicity and do not bother with fonts at all.

Default fonts from borwsers should be good enough.

It seems that I have the same opinion as you, so let's go for it!

[2018-12-03 20:18] jordanbancino commented on #107
Awesome, I'll remove my current font code, and we should be good to go. If I have time, I will commit the script and open a pull request by the end of the day.

[2018-12-18 18:20] #119 closed

[2019-01-07 11:09] dorianborovina opened #125 "Filter content search box doesn't work?"
Hi guys,

Thank you for such a wonderful theme!
On my installation instance filter content search box doesn't seem work.
Am I the only one or?

I have the script pointed out to the correct script location.
This is written in the **footer.html**

[code]

Apaxy.js is the newest, I would say.
Any tips and tricks?
Thank you! 👍

[2019-01-07 20:42] oupala commented on #125
It is strange that the path of the js file is an **absolut* path. It should probably be a relative path (without the initial slash **/**). Unless you have installed apaxy at the root level of your web server.

Can you check if you have some errors in the [web console](https://developer.mozilla.org/en-US/docs/Tools/Web_Console) or some non loaded resources in the [network monitor](https://developer

[2019-01-08 09:04] dorianborovina commented on #125
Hi,
Thank you for your reply.
I have fixed one that problem, now I'm getting the other one.

_apaxy.js:7 Uncaught TypeError: Cannot read property 'getElementsByTagName' of undefined
    at apaxy.js:7_

[2019-01-08 20:20] oupala commented on #125
Can you indicate the browser and version you're using?

What version of apaxy are you using? What branch of the git repo? Have you changed anything to any file (especially the header or the footer)?

Is your url public or private? (ie. can we have a look at it or not?)

Have you installed apaxy at the root level of your web server or not?

[2019-01-18 23:15] oupala opened #126 "search bar filter should be case sensitive?"
**Describe the bug**
The search bar is currently case insensitive.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a page modified by apaxy
2. Fill the search bar with a string
3. See that the search bar is currently case insensitive

**Expected behavior**
I think that the search bar should be case sensitive, while I'm not sure this would be the best setting.

I'm asking opinions about

[2019-01-18 23:15] oupala commented on #126
@woodrowbarlow Do you have an opinion about that?

[2019-01-22 13:48] woodrowbarlow commented on #126
@oupala

my opinion is that case-insensitive is a sane default. apaxy is essentially a file browser, and if you open up any mainstream file browser with a graphical UI and search bar (finder, explorer, nautilus), these all use case-insensitive search. most don't even offer an option for case-sensitive search.

do you plan on adding some sort of config system? if you don't add a full-blown config s

[2019-01-22 13:48] woodrowbarlow commented on #126
[code]

[2019-01-22 23:00] oupala commented on #126
Thanks a lot @woodrowbarlow for your answer and for the patch.

I'm convinced by what you said about other file browsers. Meanwhile, a config system might a good idea.

Let's wait a little bit what does the community thinks about the case-sensitivity of the search.

[2019-03-03 01:00] the-nalexx commented on #125
Hi

`if (uri.substring(uri.length - 1) !== '/') {
  var indexes = document.getElementsByClassName('indexcolname');

  for (let i of indexes) {
    var a = i.getElementsByTagName('a')[0];
    a.href = '/' + a.getAttribute('href', 2);
  }
}`

[2019-03-04 09:23] oupala commented on #125
@woodrowbarlow I do also see the same error on my dev instance. Can you please check if the search bar code needs optimization? @the-nalexx is proposing a new version of the code.

@the-nalexx I edited you message so that it renders better on GitHub. You can see this page to understand [how to beautifully format your code ins issues](https://help.github.com/en/articles/creating-and-highlighting-co

[2019-03-04 09:39] the-nalexx commented on #125
thank you !

[2019-03-04 17:44] woodrowbarlow commented on #125
@oupala i didn't write that bit of code, [it has existed in apaxy since before you took over](https://github.com/oupala/apaxy/blob/af176b3932c01de23c32398c34eeb18e6f3b5b41/apaxy/theme/footer.html) - i just moved it into apaxy.js. i don't even know why it's necessary.

the solution posted by @the-nalexx seems sane to me.

[2019-03-04 19:39] oupala commented on #125
You're right @woodrowbarlow sorry for being mistaken.

This code come from a very old commit made by @HazCod and @wblondel. Do you guys wanna fix this? Or do we take the change proposed by @the-nalexx?

[2019-03-04 23:02] wblondel commented on #125
Hello,

I'm not sure to understand why I'm tagged on this issue, I don't remember contributing to this project at all...

@oupala  do you have a link to the commit? Thank you 😄

[2019-03-05 13:52] oupala commented on #125
@wblondel I might have been mistaken, but you seem to be mentioned [in this commit](https://github.com/oupala/apaxy/commit/7d81d956b90b88613ba0fc159596ce396a76d954#diff-884c4be5e137f36f356d37892d2eea24).

[2019-03-05 14:43] wblondel commented on #125
Oh, I see it now. Actually, I commented on this commit the following :

"Broken links since this commit. It does not affect links on icons though.
If I remove the new JS code, it works again
Config : Apache 2.4.17, on Windows"

It looks like I didn't know how to use "issues" at the time... ;)

[2019-03-05 14:52] HazCod commented on #125
This was ages ago, and sadly I don't use apaxy anymore.
Best to revert that commit @oupala ?

[2019-03-05 15:26] oupala commented on #125
If you don't want to maintain your commit, no problem @HazCod.

We'll try to take care of it by ourselves.

[2019-03-05 15:27] oupala commented on #125
@the-nalexx Do you want to try to create a pull request for the change that you proposed earlier?

[2019-03-05 15:42] the-nalexx commented on #125
The problem is I'm not sure of what you're asking of me. As I said, I have signed in to github yesterday and have barely never used a git.
The reason why came here was because of this bug : it occured to me, I fixed it, but instead of keeping it for myself I wanted to report my solution to all.

For now, I dont understand all... push, pull, commit, merge... Just use this code so that it serves eve

[2019-03-05 22:37] oupala commented on #125
Ok @the-nalexx, don't worry, I'll take care of applying your code to the codebase.

Thanks anyway and happy discovery of git and GitHub!

[2019-03-22 14:06] #125 closed

[2019-03-22 14:08] oupala commented on #125
I fixed the issue following @the-nalexx proposal in commit f8670f0.

Thanks also @dorianborovina for finding the bug!

[2019-03-22 14:09] #126 closed

[2019-05-13 14:47] #115 closed

[2019-05-20 11:29] #107 closed

[2019-05-27 20:05] #29 closed

[2019-05-27 20:12] oupala opened #128 "apaxy is missing a favicon"
apaxy is missing a favicon that should be included by default into apaxy.

Maybe @chrisssycollins could create one in pull request #103.

[2019-05-27 20:24] oupala commented on #128
Error pages have been added in commit 0e69f5d86638a26896a0214de1b8fc07b6147c22 but the favicon references in html has not been added.

[2019-05-27 20:26] oupala commented on #59
I will remove the Open Sans font from apaxy.

[2019-05-28 12:23] oupala commented on #128
It could be a good idea to create a favicon from the [official logo](https://oupala.github.io/apaxy/img/apaxy.png) made by @AdamWhitcroft.

@AdamWhitcroft, would you have a few minute to do that?

[2019-05-28 13:05] oupala commented on #94
apaxy does not use jQuery so we cannot use proposal from @danielwinther. Thanks anyway for contributing.

I tried the  solution from @danndaghost and it works well. It still needs some css styling though. I opened pull request #129 for testing purposes and to let anyone add the css styling.

[2019-05-28 13:05] #94 closed

[2019-05-28 13:14] #59 closed

[2019-05-28 13:16] oupala commented on #128
This [cheatsheet](https://github.com/audreyr/favicon-cheat-sheet) might help.

[2019-05-28 13:32] oupala commented on #120
See branch feature/featherlight in this repo.

[2019-05-28 13:34] oupala commented on #120
Now that there is a branch to explore feather light, let's close this issue.

[2019-05-28 13:34] #120 closed

[2019-05-28 13:39] oupala commented on #89
See branch feature/lightgallery in this repo.

[2019-05-28 13:40] oupala commented on #89
Now that there is a branch to explore lightgallery, let's close this issue.

[2019-05-28 13:40] #89 closed

[2019-05-29 12:52] #128 closed

[2019-05-29 13:48] oupala commented on #120
featherlight will not be merged to apaxy as we prefer to use lightgallery.js.

lightgallery.js is indeed more powerful (plugins, download link, ...) and does not require jQuery.

[2019-06-07 09:20] SubrataM3 commented on #51
Can anyone share working configuration ?
The only thing i can't find in nginx is equivalent directives for **AddIcon** and **AddIconByType**  .

[2019-06-07 13:38] SubrataM3 commented on #125
Hi @oupala ,

I have this search issue also, I am using latest git version and nginx with fancyindex.
There is no error in the console log, also files (js,css,header,footer) are loading correctly.

footer.html (NOTE: apaxy folder is in document root.)
[code]
I have a test server up with apaxy installed. Let me know if you want to see. (email would be better to send the server address. Posting IP i

[2019-06-07 13:50] oupala commented on #125
You can post your server ip on an instance of privatebin (such as [framabin](https://framabin.org/p/), with a short lifetime (around 1 week). What is the git commit of the version of apaxy that you're using?

[2019-06-07 13:57] SubrataM3 commented on #125
Ok, here is the [link](https://framabin.org/p/?3f2f429dc41a524b#+iMb6c+HVVfKZxU1qD/1uvmYiV+mICEbZ0BPinH5MOo=)
I have just cloned the repo an hour ago. so its the latest.
`9d15cc5 (HEAD -> develop, origin/develop, origin/HEAD) Merge branch 'master' into develop`

[2019-06-07 14:35] oupala commented on #125
Here is your markup:

[code]

And here is my html markup:

[code]

As you can see, your markup generated by nginx is slightly different from the one generated by apache.

[2019-06-07 16:34] SubrataM3 commented on #125
Thanks for your detailed answer 👍 .
1. Yes, search function works by modifying this [line](https://github.com/oupala/apaxy/blob/9d15cc5f267b8ec9122fc31ba98ceef7d8062e05/apaxy/theme/apaxy.js#L40) (it seems you have linked correct line, but pasted wrong line above).
2. I checked the code and found classname references like **indexhead**, **indexcolname** which is not available with nginx. Also light

[2019-06-07 18:41] oupala commented on #125
Thanks for the review. Ihave edited and fixed my previous comment.

If you're ok to maintain an nginx fork of apaxy, it is ok. We'll see if the changes are huge or not, if it needs to be a fork, a branch, or if we can improve apaxy to make it work with both apache and nginx.

[2019-06-07 19:40] SubrataM3 opened #132 "lightgallery is not working"
**Describe the bug**
lightgallery feature is not working (Apache/2.2.34).

**To Reproduce**
Steps to reproduce the behavior:
1. within your data directory run
`docker run -dit --name apaxy-apache2.2-debian -p 80:80 -v "$PWD":/usr/local/apache2/htdocs/ httpd:2.2`
2. modify `apaxy.config` and run `./apaxy-configure.sh`

**Expected behavior**
lightgallery feature should work.

**Demo**
[link](https:/

[2019-06-08 14:11] bugparty commented on #51
make sure you installed fancyindex

[2019-06-08 17:41] SubrataM3 commented on #51
Yes, I am sure that fancyindex is installed and working properly.

[2019-06-09 03:04] bugparty commented on #51
maybe you should delete these directives, apaxy has no AddIcon in 2016, these directives are not essential

[2019-07-03 21:52] oupala commented on #132
I don't understand your *To Reproduce* section because you're using the standard httpd:2.2 docker image, not an image that contains the apaxy software.

Could you please check this issue?

[2019-07-08 12:26] SubrataM3 commented on #132
Hi, i had mentioned this before. So i took httpd 2.2 image and configured using your apaxy-configure.sh script.  I hope i am clear now.

[2019-07-18 20:45] oupala commented on #132
I have fixed a small js problem and the docker image is now working in the `hotfix` branch.

Steps to reproduce:

- clone the repo
- change the `apaxy.config` file to set `enableGallery=true`
- build the docker image `docker build -t apaxy .`
- launch the container by `docker-compose up`
- browse the files and click on `example.gif`, see that the gallery is enabled

No image are displayed as all *

[2019-07-27 07:04] SubrataM3 commented on #132
Nope, it does not work, the hyper links are broken.

[2019-07-27 12:54] oupala commented on #132
Did you checked out the `hotfix` branch? I forgot to add this step in my previous comment (I've just added it now).

[2019-07-27 13:04] SubrataM3 commented on #132
Yep, sorry, i did not carefully read the text above `Steps to reproduce:` and blindly followed the instruction.
And yeap, its working fine.  👍

[2019-07-27 13:15] #132 closed

[2019-07-27 13:30] oupala commented on #132
I've just released a new version 2.1.3 of apaxy which does fix the bug that @SubrataM3 has found.

I had to remove some js code (in commit afa2e5197064f9eac7086a0025c12d956ef4ed7e) that was creating the bug.

This piece of code was added by @hazcod on 15 Jul 2016 in commit 7d81d956b90b88613ba0fc159596ce396a76d954 (and @wblondel was already warning that it was breaking links for him, probably under

[2019-11-07 07:52] kokotko1337 opened #136 "Search in Header not working"
Thanks for your theme, is very nice.

**Describe the bug**
Search field give no results

**To Reproduce**

1. type Filename
2. Click on 'Search'
3. nothing happens

**Expected behavior**
give results

**Desktop (please complete the following information):**
 - OS: w 10
 - Browser Chrome/FF/IE
 - Version latest

[2019-11-07 09:18] oupala commented on #136
Hi, I'm not sure what you are talking about. In fact, there is no search button to click on. Could you please provide a non-working instance of apaxy?

The filter field is not a search engine, it is just a filtering field to filter wich files should be displayed or not.

[2019-11-14 08:45] kokotko1337 commented on #136
i got on Linux mounted some windows share and i think that is the problem why that not working ...

sorry ofc there is no search... I think Filter not working on mounted smb shares ...

[2019-11-14 19:54] oupala commented on #136
Could you please test with a volume that is not a windows share, just to be sure?

[2019-12-18 17:33] oupala commented on #136
I'm closing the issue as there is no response from @kokotko1337.

Feel free to reopen the issue if you feel this is needed.

[2019-12-18 17:33] #136 closed

[2020-02-27 08:06] derrend opened #137 "Whic part of the dockerfile to i change to influence the root directory?"
Hi oupala, great job with the apaxy project!

Would you mind telling me which line of the Dockerfile i need to edit so i can make the share folder the default root rather than clicking into it each time i visit localhost when using docker-compose?

Thanks dude ;)

[2020-03-10 10:14] oupala commented on #137
I don't understand what you mean. The behavior that you're looking for is the default behavior of the docker image:

https://github.com/oupala/apaxy/blob/cc02ee5e65359a95315d7d848589d4f4b05b8e14/Dockerfile#L4-L6

Don't you have the same behavior on your container?

[2020-03-11 09:24] derrend commented on #137
Thanks for the response :)
What I mean to say is, when i access the / directory using docker-compose to bring up the container I am met with a bunch of demo files but i would like to map / to the /share directory, I'm not interested in displaying the demo files on my home network.
Is this possible?

[2020-03-11 18:19] oupala commented on #137
The `share` directory is only there for people using the git version of apaxy.

If you're using the docker version of apaxy, just change the Dockerfile to serve the files that you want.

Depending on how you want to include the files in the container (static include inside the image, mount a volume), you will have to replace the following line with something like a `COPY` command, or with a volume

[2020-03-17 07:29] derrend commented on #137
Figured it out.
Basically commented out the line highlighted in your previous comment and added my custom mounted volumes to the docker-compose file:
[code]
Thanks again for the help! :+1:

[2020-03-17 07:29] #137 closed

[2020-05-31 07:39] sheeit opened #138 "The error pages do not have valid HTML."
**Describe the bug**
The error pages (e.g. `apaxy/apaxy/theme/404.html`, etc.) do not have valid HTML.

Their doctype is missing a `!` character, and they use `<center>`, which is obsolete in HTML5.

[2020-06-05 12:07] #138 closed

[2020-07-05 15:17] signorettae opened #140 "Apaxy not working"
I tried to install it on my Apache web server but it doesn't work. I tried with manual and automatic setup both

[2020-07-06 08:56] oupala commented on #140
What should we do with such issue? No information, no detail, no clue.

I can just tell you that Apaxy **is working** on my server.

There should be something wrong on your side, but we need more information to find out what.

[2020-07-24 02:55] atmgnd commented on #140
Is your sites configured with following setting?

<Directory "/var/www/html/share">
    AllowOverride All
    Options Indexes MultiViews FollowSymLinks
    Require all granted
</Directory>

[2020-08-05 13:20] signorettae commented on #140
Thank you so much, I solved the problem

[2020-08-05 13:20] #140 closed

[2020-08-05 13:20] signorettae commented on #140
Thank you so much, I solved the problem

[2020-09-30 19:49] TheeOhioState opened #141 "htaccess"
Had a question i'm sure someone might have came across and would share a fix.

In the provided htaccess file , i had to add prevention for hotlinking. After doing so , when you open any image in the directories in lightbox , there is a download link. Once clicked it fails to download the file when disabling the hotlinking. Any ideas on why that is happening ?

Added to htaccess to disable hotlinki

[2020-10-01 18:14] TheeOhioState commented on #141
fixed

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !mflscripts\.com/ [NC]
RewriteCond %{REQUEST_FILENAME} !hotlink\.png$
RewriteRule .*\.(png)$ https://mflscripts.com/hotlink.png [R=302,L]

[2020-10-06 15:21] #141 closed

[2021-01-08 16:10] DanielRuf opened #142 "custom table structure"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a suggestion.

**Describe the solution you'd like**
Describe solutions to change the table structure (yes you can do it with pure JS, the table API and some logic)

**Describe alternatives you've considered**

**Additional context**

I would say this is not 100% true ;-)

[2021-01-08 16:55] DanielRuf commented on #142
I will probably provide some solutions / guides in the next weeks and months for interested users who want to change the table structure (if this is what you mean).

[2021-01-08 17:02] oupala commented on #142
Feel free to propose and document a way to change the html generated by apache.

It might be interesting for some people and maybe leads to some change in the code of apaxy.

[2021-01-17 00:05] DanielRuf opened #143 "missing license for icons"
I found no license file for the icons. It seems they are licensed under GPLv3, so I guess the project has to use GPLv3 too or at least add the license to the icons folder.

See https://choosealicense.com/licenses/gpl-3.0/

[2021-01-17 14:29] oupala commented on #143
It seems that icons are part of the project since almost the first commit. That's why we never had the question about the license of icons. Maybe @AdamWhitcroft can help us about the history of the project.

What makes you think that icons are licensed under GPLv3?

[2021-01-17 14:35] DanielRuf commented on #143
According to https://www.deviantart.com/tiheum/art/Faenza-Icons-173323228

And the files at https://code.google.com/archive/p/faenza-icon-theme/downloads

<img width="273" alt="Bildschirmfoto 2021-01-17 um 15 34 01" src="https://user-images.githubusercontent.com/827205/104846184-907a1700-58d9-11eb-8077-b235b66a94ac.png">
<img width="490" alt="Bildschirmfoto 2021-01-17 um 15 34 48" src="https://use

[2021-01-17 14:48] AdamWhitcroft commented on #143
This was a very long time ago, but I believe this was the set I used https://www.deviantart.com/tiheum/art/Faience-icon-theme-255099649 (GPLv3 as well). Hope that helps!

[2021-01-20 20:35] oupala commented on #143
@DanielRuf Would you be ok to start a pull request for switching apaxy from Unlicense to GPL v3?

@AdamWhitcroft What's your opinion about switching to GPL v3?

[2021-01-20 20:38] oupala commented on #143
According to the icons I checked (ie. ` rar.png` or `pres.png`), the icon set is more Faenza than Faience.

It might be time to choose a new set of icons, and tp embed it properly, with its license.

[2021-01-22 18:06] AdamWhitcroft commented on #143
Sorry for the delay, no objections from me on changing the license.

[2021-01-26 22:14] mfnalex opened #145 "Show current path"
Hi :)

In the default apache2 Autoindex, the current directory is displayed at the top, however it's missing in apaxy and I couldn't find a way to enable it. Is it somehow possible to get the current path shown at the top?

[2021-01-28 09:10] oupala commented on #145
I don't understand why you say that the current directory is missing:

![screenshot](https://user-images.githubusercontent.com/13458743/106115311-ef992080-6150-11eb-978e-309952449947.png)

Can you please explain me why do you think there is something wrong?

[2021-01-28 12:12] mfnalex commented on #145
Sorry, I actually the meant the "path" to the directory. E.g. /folder1/folder2/currentfolder

[2021-01-28 20:16] oupala commented on #145
Yes, the path to the directory appears at the top of the windows. See the following screenshot:

![screenshot](https://user-images.githubusercontent.com/13458743/106193513-e8543000-61ad-11eb-903b-b17ba57d1992.png)

I still don't understand your issue.

Can you tell me if **I** get your issue wrong, or if **you** have not seen it?

[2021-01-29 08:26] mfnalex commented on #145
I downloaded the latest release from GitHub and I do not see the the directory.

![image](https://user-images.githubusercontent.com/1122571/106250564-19674b80-6214-11eb-8ef2-03a48be3cd68.png)
https://repo.jeff-media.de

[2021-01-29 08:39] oupala commented on #145
The breadcrumb is generated by a piece of javascript located in `apaxy.js`. This javascript file is loaded at the end of the [`footer.html`](https://github.com/oupala/apaxy/blob/develop/apaxy/theme/footer.html#L10). Your problem might be that this javascript file is not loaded.

Have followed the [install guide](https://github.com/oupala/apaxy#installation)?

[2021-02-20 17:42] mfnalex commented on #145
Thanks, I forgot to edit the footer.html.

[2021-02-20 17:42] #145 closed

[2021-03-18 12:42] 1manfactory opened #146 "Not working with sub directories"
I wouldn't call it a bug.

But this does not work with sub directory browsing. Or you would have to place an edited .htaccess file in every sub directory which of course is not very practical.

Do you have any ideas how to bypass this problem?

[2021-03-18 16:56] oupala commented on #146
As you can see in screeshots from #145, it is indeed working in subdirectories.

Have you configured apaxy manually or using the bash script?

Have you followed the [install guide](https://github.com/oupala/apaxy#installation) with care?

[2021-04-06 12:58] DanielRuf opened #147 "combine Apaxy with htpasswd / Basic Auth"
**Is your feature request related to a problem? Please describe.**
I want to use basicauth and custom PHP + JS scripts to read some user provided data.
In my case the name of the logged in user is shown by using an AJAX request to a simple PHP script.

**Describe the solution you'd like**
Pass through the basicauth details to PHP. Add some details to the documentation.

`SetEnvIf Authorization .+

[2021-04-06 22:10] oupala commented on #147
I'm not sure about your intents.

Are you willing to add some php script to apaxy git repo? Some apache configuration?

Are you asking for support in order to achieve something on your website?

Please complete this issue in the comments in order to tell us what are your plans, or your intent.

[2021-04-06 22:50] DanielRuf commented on #147
Some documentation for this use case.

[2021-04-07 21:55] oupala commented on #147
So I believe your question has nothing specific to apaxy. You should ask for support in a generic apache place.

[2021-04-07 22:06] DanielRuf commented on #147
It's mostly about this (documenting this use case).

It already works. I think there is a misunderstanding.

I think I can close the issue as it might not be needed to document as possible use case.

[2021-04-07 22:06] #147 closed

[2021-04-07 22:17] oupala commented on #147
Oh I see now. And yes you're right, I did not understand that you were proposing a specific usecase, not asking for help. Sorry for the misunderstanding. And thank you for your contribution. I think issues is a good place for keeping track of some usecases that are not widely used.

[2021-04-07 22:20] oupala commented on #146
Friendly reminder about this issue. Have tried to fix your problem following the install guide?

Should I close this issue?

[2021-04-08 09:03] 1manfactory commented on #146
Hello. Thanks four your help. I managed to solve it.

[2021-04-08 10:59] #146 closed

[2021-04-21 15:47] oupala commented on #143
In fact, I've just discovered that apaxy is using the Faenza icon set as stated in the README file since the [first commit](https://github.com/oupala/apaxy/commit/defcf2ab8326a3b28adc6b370a3a2f485f79a524#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R46):

Besides, `apaxy` is licenced under the [Unlicence](https://unlicense.org/) licence and this licence is [compatible with

[2021-04-21 17:06] DanielRuf commented on #143
Sorry, I had not much time so far to check this in detail.

Do we really have to change the license?

[2021-04-22 21:27] oupala commented on #143
As stated in [gnu.org FAQ](https://www.gnu.org/licenses/gpl-faq.en.html#IfLibraryIsGPL), there is no reason to switch  ̀apaxy` to GPL v3 as Unlicence licence is compatible with GPL v3 licence (see my previous comment).

However, I'm a bit disturbed by the [following answer](https://www.gnu.org/licenses/gpl-faq.en.html#WhatDoesCompatMean):

I am now looking to the best way to include the Faenza ico

[2021-04-22 22:54] oupala commented on #143
Switching to GPL v3 is easy as the [Unlicence licence](https://unlicense.org/) is not holding copyright to authors:

As a consequence, the next release of `apaxy` will simply use GPL v3 licence.

[2021-04-23 10:22] oupala opened #148 "apaxy is switching to GPLv3 licence"
As exposed in issue #143, the licence of the icon set was not clearly mentionned in apaxy.

As the [Faenza icon set](https://code.google.com/archive/p/faenza-icon-theme/) has been released under GPLv3 licence, it appears that apaxy has to adopt the same licence.

We're then switching from Unlicence licence to GPLv3 licence.

Feel free to comment this issue if you have anything to add to the discus

[2021-04-23 13:23] #148 closed

[2021-04-23 13:23] #143 closed

[2021-04-23 13:25] oupala commented on #142
Closing the issue as there have been no activity for more than 3 months.

Feel free to comment if you think the issue should be reopened.

[2021-04-23 13:25] #142 closed

[2021-04-29 13:21] oupala commented on #148
It seems to be a good thing to switch to GPLv3 licence:

[What is wrong with the Unlicense?](https://softwareengineering.stackexchange.com/questions/147111/what-is-wrong-with-the-unlicense/147120#147120)

[2021-08-29 12:28] phloggu opened #149 "Installscript should disable IndexOption "SuppressHTMLPreamble""
Setting up Apaxy to style a directory, where there are already `IndexOptions` set in Apache's configuration file (e.g. by inhertitance), Apaxy might not be able to style the directory as intended. If the Option `SuppressHTMLPreamble` is set, the style sheet from Apaxy is not loaded and thus the directory index is not styled.

Steps to reproduce the behavior:
<ul>
<li>Edit the Directory-tag of your

[2021-09-10 07:52] oupala commented on #149
If the option `SuppressHTMLPreamble` is set explicitly or by inheritance, then the [documentation of apache](https://httpd.apache.org/docs/2.4/en/mod/mod_autoindex.html#indexoptions.suppresshtmlpreamble) says that it disables the behaviour of generating "a standard HTML preamble (<html>, <head>, et cetera)".

However, the [default header of apaxy](/oupala/apaxy/blob/develop/apaxy/theme/header.html

[2021-09-10 10:16] phloggu commented on #149
If the install script added `-SuppressHTMLPreamble` to the generated .htaccess, would that have negative implications in your opinion? It would make apaxy work for more users out of the box.

The other thing is, completely unrelated (sorry mixing the topics): The Readme.md should mention a correct `AllowOverride` statement for the Apaxy styled folder, which is:
`AllowOverride Options Indexes FileI

[2021-09-10 13:14] oupala commented on #149
For your first point, adding `SuppressHTMLPreamble` would "suppress HTML preamble". And as this HTML preamble is not in the [default header of apaxy](/oupala/apaxy/blob/develop/apaxy/theme/header.html), it would make every page generated by Apaxy invalid.

For your second point, you're right : I will add the requirement in the README file..

[2021-09-10 15:56] phloggu commented on #149
Thanx for the Addition to the README.

To the other point: I always wrote `-SuppressHTMLPreamble`,  including the minus char prefixed. I request to explicitly remove the Option, hence adding it to the .htaccess including the minus sign. The installer should in any case write the .htaccess incuding  `-SuppressHTMLPreamble`, to avoid the Option is effect.

[2021-09-15 23:47] #149 closed

[2021-09-16 00:00] oupala commented on #149
Until know, I did not understood the real goal of your issue. I tought you wanted to suppress the HTML preamble. You wanted in fact to prevent from suppressing the HTML preamble. I then tested your suggestion and I validated it. It is now committed in the `develop` branch. Please feel free to test it.

I also edited the README file in order to add the `AllowOverride` statement.

[2021-09-16 09:58] phloggu commented on #149
Thank you!

[2021-09-16 20:40] oupala commented on #149
Do you plan to test the develop branch?

[2021-09-20 13:10] trensetim opened #150 "Demo or screenshots"
I would love to see a couple more screenshots or even a running demo.

**Describe the solution you'd like**
The screenshot that's placed on the referred website looks promising. It would be even better to have a couple more to really show off the look and feel of the chosen theme.

**Describe alternatives you've considered**
Either just host a couple demo files on a private Webserver with this pro

[2021-09-20 21:44] oupala commented on #150
The presentation website of apaxy is hosted by GitHub pages at <https://oupala.github.io/apaxy/>. There is already [a screenshot](https://oupala.github.io/apaxy/img/example.png) on this website:

![apaxy screenshot](https://oupala.github.io/apaxy/img/example.png)

In your issue, you say that you want to show more screenshots. But what more do you want to show?

And by the way, it is not possible t

[2022-01-24 15:34] oupala commented on #150
Feel free to open a merge request with some more screenshots, or a demo server of apaxy.

[2022-01-24 15:34] #150 closed

[2022-02-13 05:22] thomasskull666 opened #151 "Lightgallery Plugins"
I would like to add lightgallery plugins to the gallery functionality but am unsure how to do so. Is this planned in a future release or is there guidance that you can give on how to accomplish this? Thanks.

[2022-02-14 04:26] thomasskull666 commented on #151
I am aware, I am asking specifically about the lightgallery plugins (lg-rotate, lg-zoom, etc.). Is there documentation available for these? API reference [here](https://sachinchoolur.github.io/lightgallery.js/docs/api.html) for 1.x.

[2022-02-14 08:39] oupala commented on #151
There is no specific documentation about LightGallery settings in Apaxy. You can check the official LightGallery documentation, and then [dive into the code of Apaxy](https://github.com/oupala/apaxy/blob/cb96aa8f146ace8f95dfdcb83f96b91253376261/apaxy/theme/apaxy-lightgallery.js#L7-L15) in order to configure LightGallery the way you want.

[2022-02-14 18:13] thomasskull666 commented on #151
OK thank you for the information, that is what I suspected but figured I would check anyway.

[2022-02-14 18:13] #151 closed